.idea
.vscode
.DS_Store
*.swp
.terraform-version

build
terraform-provider-oktapam
oktapam/test.log
playground
.tool-versions
!vendor/github.com/hashicorp/terraform-plugin-docs/cmd/tfplugindocs/build/

.claude/settings.local.json
