/*
Okta Privileged Access

The Okta Privileged Access API is a control plane used to request operations in Okta Privileged Access (formerly ScaleFT/Advanced Server Access)

API version: 1.0.0
Contact: support@okta.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package pam

import (
	"bytes"
	"context"
	"encoding/json"
	"fmt"
	"io"
	"net/http"
	"net/url"
	"reflect"
	"strings"
)

// DatabaseAccountsAPIService DatabaseAccountsAPI service
type DatabaseAccountsAPIService service

type ApiCreateDatabaseAccountRuleRequest struct {
	ctx                        context.Context
	ApiService                 *DatabaseAccountsAPIService
	teamName                   string
	databaseConnectionId       string
	databaseAccountRuleRequest *DatabaseAccountRuleRequest
}

func (r ApiCreateDatabaseAccountRuleRequest) DatabaseAccountRuleRequest(databaseAccountRuleRequest DatabaseAccountRuleRequest) ApiCreateDatabaseAccountRuleRequest {
	r.databaseAccountRuleRequest = &databaseAccountRuleRequest
	return r
}

func (r ApiCreateDatabaseAccountRuleRequest) Execute() (*DatabaseAccountRuleResponse, *http.Response, error) {
	return r.ApiService.CreateDatabaseAccountRuleExecute(r)
}

/*
CreateDatabaseAccountRule Create a database account rule

	Creates a database account rule.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().

	@param teamName The name of your team
	@param databaseConnectionId The UUID of a database connection

@return ApiCreateDatabaseAccountRuleRequest
*/
func (a *DatabaseAccountsAPIService) CreateDatabaseAccountRule(ctx context.Context, teamName string, databaseConnectionId string) ApiCreateDatabaseAccountRuleRequest {
	return ApiCreateDatabaseAccountRuleRequest{
		ApiService:           a,
		ctx:                  ctx,
		teamName:             teamName,
		databaseConnectionId: databaseConnectionId,
	}
}

// Execute executes the request
//
//	@return DatabaseAccountRuleResponse
func (a *DatabaseAccountsAPIService) CreateDatabaseAccountRuleExecute(r ApiCreateDatabaseAccountRuleRequest) (*DatabaseAccountRuleResponse, *http.Response, error) {
	var (
		traceKey            = "databaseaccountsapi.createDatabaseAccountRule"
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DatabaseAccountRuleResponse
	)

	localVarPath := "/v1/teams/{team_name}/connections/databases/{database_connection_id}/rules"
	localVarPath = strings.Replace(localVarPath, "{"+"team_name"+"}", url.PathEscape(parameterValueToString(r.teamName, "teamName")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"database_connection_id"+"}", url.PathEscape(parameterValueToString(r.databaseConnectionId, "databaseConnectionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.databaseAccountRuleRequest == nil {
		return localVarReturnValue, nil, reportError("databaseAccountRuleRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.databaseAccountRuleRequest
	localVarHTTPResponse, err := a.client.callAPI(r.ctx, traceKey, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles, &localVarReturnValue)

	if err != nil {
		if localVarHTTPResponse == nil {
			return localVarReturnValue, nil, err
		}

		originalErr := err
		// read and unmarshal error response into right struct
		bodyBytes, err := io.ReadAll(localVarHTTPResponse.Body)
		if err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error reading response body: %w", originalErr, err)
		}
		if err := localVarHTTPResponse.Body.Close(); err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error closing response body: %w", originalErr, err)
		}
		// if bodyBytes is empty, we will face unmarshalling error later anyway
		if len(bodyBytes) == 0 {
			return localVarReturnValue, localVarHTTPResponse, originalErr
		}
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewReader(bodyBytes)) //Reset body for the caller
		if localVarHTTPResponse.StatusCode == 400 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v BadRequestResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into BadRequestResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		if localVarHTTPResponse.StatusCode == 401 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v UnauthorizedAccessResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into UnauthorizedAccessResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		if localVarHTTPResponse.StatusCode == 409 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v ConflictResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into ConflictResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		var apiError APIError
		if err := json.Unmarshal(bodyBytes, &apiError); err != nil {
			return localVarReturnValue, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into APIError: %w", originalErr, err)
		}
		return localVarReturnValue, localVarHTTPResponse, apiError
	}

	return localVarReturnValue, localVarHTTPResponse, err
}

type ApiDeleteDatabaseAccountRuleRequest struct {
	ctx                   context.Context
	ApiService            *DatabaseAccountsAPIService
	teamName              string
	databaseConnectionId  string
	databaseAccountRuleId string
}

func (r ApiDeleteDatabaseAccountRuleRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteDatabaseAccountRuleExecute(r)
}

/*
DeleteDatabaseAccountRule Delete a database account rule

	Deletes a database account rule.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().

	@param teamName The name of your team
	@param databaseConnectionId The UUID of a database connection
	@param databaseAccountRuleId The UUID of a database account rule

@return ApiDeleteDatabaseAccountRuleRequest
*/
func (a *DatabaseAccountsAPIService) DeleteDatabaseAccountRule(ctx context.Context, teamName string, databaseConnectionId string, databaseAccountRuleId string) ApiDeleteDatabaseAccountRuleRequest {
	return ApiDeleteDatabaseAccountRuleRequest{
		ApiService:            a,
		ctx:                   ctx,
		teamName:              teamName,
		databaseConnectionId:  databaseConnectionId,
		databaseAccountRuleId: databaseAccountRuleId,
	}
}

// Execute executes the request
func (a *DatabaseAccountsAPIService) DeleteDatabaseAccountRuleExecute(r ApiDeleteDatabaseAccountRuleRequest) (*http.Response, error) {
	var (
		traceKey           = "databaseaccountsapi.deleteDatabaseAccountRule"
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localVarPath := "/v1/teams/{team_name}/connections/databases/{database_connection_id}/rules/{database_account_rule_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"team_name"+"}", url.PathEscape(parameterValueToString(r.teamName, "teamName")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"database_connection_id"+"}", url.PathEscape(parameterValueToString(r.databaseConnectionId, "databaseConnectionId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"database_account_rule_id"+"}", url.PathEscape(parameterValueToString(r.databaseAccountRuleId, "databaseAccountRuleId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarHTTPResponse, err := a.client.callAPI(r.ctx, traceKey, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles, nil)

	if err != nil {
		if localVarHTTPResponse == nil {
			return nil, err
		}

		originalErr := err
		// read and unmarshal error response into right struct
		bodyBytes, err := io.ReadAll(localVarHTTPResponse.Body)
		if err != nil {
			return nil, fmt.Errorf("%w: error reading response body: %w", originalErr, err)
		}
		if err := localVarHTTPResponse.Body.Close(); err != nil {
			return nil, fmt.Errorf("%w: error closing response body: %w", originalErr, err)
		}
		// if bodyBytes is empty, we will face unmarshalling error later anyway
		if len(bodyBytes) == 0 {
			return localVarHTTPResponse, originalErr
		}
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewReader(bodyBytes)) //Reset body for the caller
		if localVarHTTPResponse.StatusCode == 401 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v UnauthorizedAccessResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into UnauthorizedAccessResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return localVarHTTPResponse, nonDefaultResponse

		}
		if localVarHTTPResponse.StatusCode == 404 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v NotFoundResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into NotFoundResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return localVarHTTPResponse, nonDefaultResponse

		}
		var apiError APIError
		if err := json.Unmarshal(bodyBytes, &apiError); err != nil {
			return localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into APIError: %w", originalErr, err)
		}
		return localVarHTTPResponse, apiError
	}

	return localVarHTTPResponse, err
}

type ApiGetDatabaseAccountByConnectionRequest struct {
	ctx                  context.Context
	ApiService           *DatabaseAccountsAPIService
	teamName             string
	databaseConnectionId string
	databaseAccountId    string
}

func (r ApiGetDatabaseAccountByConnectionRequest) Execute() (*DatabaseAccountWithPasswordAndCheckoutDetails, *http.Response, error) {
	return r.ApiService.GetDatabaseAccountByConnectionExecute(r)
}

/*
	GetDatabaseAccountByConnection Retrieve a discovered database account

	    Retrieves detailed information about a database account including:

- Account and connection information
- Rotation history (password changes, success/failure counts)
- Checkout status and history
- Next scheduled rotation time
- Resource group and project assignment

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	    @param teamName The name of your team
	    @param databaseConnectionId The UUID of a database connection
	    @param databaseAccountId The UUID of a database account
	@return ApiGetDatabaseAccountByConnectionRequest
*/
func (a *DatabaseAccountsAPIService) GetDatabaseAccountByConnection(ctx context.Context, teamName string, databaseConnectionId string, databaseAccountId string) ApiGetDatabaseAccountByConnectionRequest {
	return ApiGetDatabaseAccountByConnectionRequest{
		ApiService:           a,
		ctx:                  ctx,
		teamName:             teamName,
		databaseConnectionId: databaseConnectionId,
		databaseAccountId:    databaseAccountId,
	}
}

// Execute executes the request
//
//	@return DatabaseAccountWithPasswordAndCheckoutDetails
func (a *DatabaseAccountsAPIService) GetDatabaseAccountByConnectionExecute(r ApiGetDatabaseAccountByConnectionRequest) (*DatabaseAccountWithPasswordAndCheckoutDetails, *http.Response, error) {
	var (
		traceKey            = "databaseaccountsapi.getDatabaseAccountByConnection"
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DatabaseAccountWithPasswordAndCheckoutDetails
	)

	localVarPath := "/v1/teams/{team_name}/connections/databases/{database_connection_id}/accounts/{database_account_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"team_name"+"}", url.PathEscape(parameterValueToString(r.teamName, "teamName")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"database_connection_id"+"}", url.PathEscape(parameterValueToString(r.databaseConnectionId, "databaseConnectionId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"database_account_id"+"}", url.PathEscape(parameterValueToString(r.databaseAccountId, "databaseAccountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarHTTPResponse, err := a.client.callAPI(r.ctx, traceKey, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles, &localVarReturnValue)

	if err != nil {
		if localVarHTTPResponse == nil {
			return localVarReturnValue, nil, err
		}

		originalErr := err
		// read and unmarshal error response into right struct
		bodyBytes, err := io.ReadAll(localVarHTTPResponse.Body)
		if err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error reading response body: %w", originalErr, err)
		}
		if err := localVarHTTPResponse.Body.Close(); err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error closing response body: %w", originalErr, err)
		}
		// if bodyBytes is empty, we will face unmarshalling error later anyway
		if len(bodyBytes) == 0 {
			return localVarReturnValue, localVarHTTPResponse, originalErr
		}
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewReader(bodyBytes)) //Reset body for the caller
		if localVarHTTPResponse.StatusCode == 401 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v UnauthorizedAccessResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into UnauthorizedAccessResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		if localVarHTTPResponse.StatusCode == 404 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v NotFoundResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into NotFoundResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		var apiError APIError
		if err := json.Unmarshal(bodyBytes, &apiError); err != nil {
			return localVarReturnValue, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into APIError: %w", originalErr, err)
		}
		return localVarReturnValue, localVarHTTPResponse, apiError
	}

	return localVarReturnValue, localVarHTTPResponse, err
}

type ApiGetDatabaseAccountDetailsRequest struct {
	ctx               context.Context
	ApiService        *DatabaseAccountsAPIService
	teamName          string
	resourceGroupId   string
	projectId         string
	databaseAccountId string
}

func (r ApiGetDatabaseAccountDetailsRequest) Execute() (*DatabaseAccountWithPasswordAndCheckoutDetails, *http.Response, error) {
	return r.ApiService.GetDatabaseAccountDetailsExecute(r)
}

/*
	GetDatabaseAccountDetails Retrieve a database account in a resource group project

	    Retrieves detailed information about a database account in a resource group project including:

- Account and connection information
- Rotation history (password changes, success/failure counts)
- Checkout status and history
- Next scheduled rotation time
- Resource group and project assignment

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	    @param teamName The name of your team
	    @param resourceGroupId The UUID of a resource group
	    @param projectId The UUID of a project
	    @param databaseAccountId The UUID of a database account
	@return ApiGetDatabaseAccountDetailsRequest
*/
func (a *DatabaseAccountsAPIService) GetDatabaseAccountDetails(ctx context.Context, teamName string, resourceGroupId string, projectId string, databaseAccountId string) ApiGetDatabaseAccountDetailsRequest {
	return ApiGetDatabaseAccountDetailsRequest{
		ApiService:        a,
		ctx:               ctx,
		teamName:          teamName,
		resourceGroupId:   resourceGroupId,
		projectId:         projectId,
		databaseAccountId: databaseAccountId,
	}
}

// Execute executes the request
//
//	@return DatabaseAccountWithPasswordAndCheckoutDetails
func (a *DatabaseAccountsAPIService) GetDatabaseAccountDetailsExecute(r ApiGetDatabaseAccountDetailsRequest) (*DatabaseAccountWithPasswordAndCheckoutDetails, *http.Response, error) {
	var (
		traceKey            = "databaseaccountsapi.getDatabaseAccountDetails"
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DatabaseAccountWithPasswordAndCheckoutDetails
	)

	localVarPath := "/v1/teams/{team_name}/resource_groups/{resource_group_id}/projects/{project_id}/database_accounts/{database_account_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"team_name"+"}", url.PathEscape(parameterValueToString(r.teamName, "teamName")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"resource_group_id"+"}", url.PathEscape(parameterValueToString(r.resourceGroupId, "resourceGroupId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"project_id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"database_account_id"+"}", url.PathEscape(parameterValueToString(r.databaseAccountId, "databaseAccountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarHTTPResponse, err := a.client.callAPI(r.ctx, traceKey, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles, &localVarReturnValue)

	if err != nil {
		if localVarHTTPResponse == nil {
			return localVarReturnValue, nil, err
		}

		originalErr := err
		// read and unmarshal error response into right struct
		bodyBytes, err := io.ReadAll(localVarHTTPResponse.Body)
		if err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error reading response body: %w", originalErr, err)
		}
		if err := localVarHTTPResponse.Body.Close(); err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error closing response body: %w", originalErr, err)
		}
		// if bodyBytes is empty, we will face unmarshalling error later anyway
		if len(bodyBytes) == 0 {
			return localVarReturnValue, localVarHTTPResponse, originalErr
		}
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewReader(bodyBytes)) //Reset body for the caller
		if localVarHTTPResponse.StatusCode == 401 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v UnauthorizedAccessResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into UnauthorizedAccessResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		if localVarHTTPResponse.StatusCode == 404 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v NotFoundResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into NotFoundResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		var apiError APIError
		if err := json.Unmarshal(bodyBytes, &apiError); err != nil {
			return localVarReturnValue, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into APIError: %w", originalErr, err)
		}
		return localVarReturnValue, localVarHTTPResponse, apiError
	}

	return localVarReturnValue, localVarHTTPResponse, err
}

type ApiGetDatabaseAccountEndUserRequest struct {
	ctx                  context.Context
	ApiService           *DatabaseAccountsAPIService
	teamName             string
	databaseConnectionId string
	databaseAccountId    string
}

func (r ApiGetDatabaseAccountEndUserRequest) Execute() (*DatabaseAccountEndUser, *http.Response, error) {
	return r.ApiService.GetDatabaseAccountEndUserExecute(r)
}

/*
GetDatabaseAccountEndUser Retrieve a database account for end user

	Retrieves a database account that you (as the request user) can access

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().

	@param teamName The name of your team
	@param databaseConnectionId The UUID of a database connection
	@param databaseAccountId The UUID of a database account

@return ApiGetDatabaseAccountEndUserRequest
*/
func (a *DatabaseAccountsAPIService) GetDatabaseAccountEndUser(ctx context.Context, teamName string, databaseConnectionId string, databaseAccountId string) ApiGetDatabaseAccountEndUserRequest {
	return ApiGetDatabaseAccountEndUserRequest{
		ApiService:           a,
		ctx:                  ctx,
		teamName:             teamName,
		databaseConnectionId: databaseConnectionId,
		databaseAccountId:    databaseAccountId,
	}
}

// Execute executes the request
//
//	@return DatabaseAccountEndUser
func (a *DatabaseAccountsAPIService) GetDatabaseAccountEndUserExecute(r ApiGetDatabaseAccountEndUserRequest) (*DatabaseAccountEndUser, *http.Response, error) {
	var (
		traceKey            = "databaseaccountsapi.getDatabaseAccountEndUser"
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DatabaseAccountEndUser
	)

	localVarPath := "/v1/teams/{team_name}/databases/{database_connection_id}/accounts/{database_account_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"team_name"+"}", url.PathEscape(parameterValueToString(r.teamName, "teamName")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"database_connection_id"+"}", url.PathEscape(parameterValueToString(r.databaseConnectionId, "databaseConnectionId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"database_account_id"+"}", url.PathEscape(parameterValueToString(r.databaseAccountId, "databaseAccountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarHTTPResponse, err := a.client.callAPI(r.ctx, traceKey, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles, &localVarReturnValue)

	if err != nil {
		if localVarHTTPResponse == nil {
			return localVarReturnValue, nil, err
		}

		originalErr := err
		// read and unmarshal error response into right struct
		bodyBytes, err := io.ReadAll(localVarHTTPResponse.Body)
		if err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error reading response body: %w", originalErr, err)
		}
		if err := localVarHTTPResponse.Body.Close(); err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error closing response body: %w", originalErr, err)
		}
		// if bodyBytes is empty, we will face unmarshalling error later anyway
		if len(bodyBytes) == 0 {
			return localVarReturnValue, localVarHTTPResponse, originalErr
		}
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewReader(bodyBytes)) //Reset body for the caller
		if localVarHTTPResponse.StatusCode == 404 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v NotFoundResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into NotFoundResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		var apiError APIError
		if err := json.Unmarshal(bodyBytes, &apiError); err != nil {
			return localVarReturnValue, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into APIError: %w", originalErr, err)
		}
		return localVarReturnValue, localVarHTTPResponse, apiError
	}

	return localVarReturnValue, localVarHTTPResponse, err
}

type ApiGetDatabaseAccountRuleRequest struct {
	ctx                   context.Context
	ApiService            *DatabaseAccountsAPIService
	teamName              string
	databaseConnectionId  string
	databaseAccountRuleId string
}

func (r ApiGetDatabaseAccountRuleRequest) Execute() (*DatabaseAccountRuleResponse, *http.Response, error) {
	return r.ApiService.GetDatabaseAccountRuleExecute(r)
}

/*
GetDatabaseAccountRule Retrieve a database account rule

	Retrieves a database account rule.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().

	@param teamName The name of your team
	@param databaseConnectionId The UUID of a database connection
	@param databaseAccountRuleId The UUID of a database account rule

@return ApiGetDatabaseAccountRuleRequest
*/
func (a *DatabaseAccountsAPIService) GetDatabaseAccountRule(ctx context.Context, teamName string, databaseConnectionId string, databaseAccountRuleId string) ApiGetDatabaseAccountRuleRequest {
	return ApiGetDatabaseAccountRuleRequest{
		ApiService:            a,
		ctx:                   ctx,
		teamName:              teamName,
		databaseConnectionId:  databaseConnectionId,
		databaseAccountRuleId: databaseAccountRuleId,
	}
}

// Execute executes the request
//
//	@return DatabaseAccountRuleResponse
func (a *DatabaseAccountsAPIService) GetDatabaseAccountRuleExecute(r ApiGetDatabaseAccountRuleRequest) (*DatabaseAccountRuleResponse, *http.Response, error) {
	var (
		traceKey            = "databaseaccountsapi.getDatabaseAccountRule"
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DatabaseAccountRuleResponse
	)

	localVarPath := "/v1/teams/{team_name}/connections/databases/{database_connection_id}/rules/{database_account_rule_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"team_name"+"}", url.PathEscape(parameterValueToString(r.teamName, "teamName")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"database_connection_id"+"}", url.PathEscape(parameterValueToString(r.databaseConnectionId, "databaseConnectionId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"database_account_rule_id"+"}", url.PathEscape(parameterValueToString(r.databaseAccountRuleId, "databaseAccountRuleId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarHTTPResponse, err := a.client.callAPI(r.ctx, traceKey, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles, &localVarReturnValue)

	if err != nil {
		if localVarHTTPResponse == nil {
			return localVarReturnValue, nil, err
		}

		originalErr := err
		// read and unmarshal error response into right struct
		bodyBytes, err := io.ReadAll(localVarHTTPResponse.Body)
		if err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error reading response body: %w", originalErr, err)
		}
		if err := localVarHTTPResponse.Body.Close(); err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error closing response body: %w", originalErr, err)
		}
		// if bodyBytes is empty, we will face unmarshalling error later anyway
		if len(bodyBytes) == 0 {
			return localVarReturnValue, localVarHTTPResponse, originalErr
		}
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewReader(bodyBytes)) //Reset body for the caller
		if localVarHTTPResponse.StatusCode == 401 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v UnauthorizedAccessResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into UnauthorizedAccessResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		if localVarHTTPResponse.StatusCode == 404 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v NotFoundResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into NotFoundResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		var apiError APIError
		if err := json.Unmarshal(bodyBytes, &apiError); err != nil {
			return localVarReturnValue, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into APIError: %w", originalErr, err)
		}
		return localVarReturnValue, localVarHTTPResponse, apiError
	}

	return localVarReturnValue, localVarHTTPResponse, err
}

type ApiGetDatabaseConnectionEndUserRequest struct {
	ctx                  context.Context
	ApiService           *DatabaseAccountsAPIService
	teamName             string
	databaseConnectionId string
}

func (r ApiGetDatabaseConnectionEndUserRequest) Execute() (*DatabaseConnectionEndUser, *http.Response, error) {
	return r.ApiService.GetDatabaseConnectionEndUserExecute(r)
}

/*
GetDatabaseConnectionEndUser Retrieve a database connection for end user

	Retrieves a database connection that you (as the request user) can access

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().

	@param teamName The name of your team
	@param databaseConnectionId The UUID of a database connection

@return ApiGetDatabaseConnectionEndUserRequest
*/
func (a *DatabaseAccountsAPIService) GetDatabaseConnectionEndUser(ctx context.Context, teamName string, databaseConnectionId string) ApiGetDatabaseConnectionEndUserRequest {
	return ApiGetDatabaseConnectionEndUserRequest{
		ApiService:           a,
		ctx:                  ctx,
		teamName:             teamName,
		databaseConnectionId: databaseConnectionId,
	}
}

// Execute executes the request
//
//	@return DatabaseConnectionEndUser
func (a *DatabaseAccountsAPIService) GetDatabaseConnectionEndUserExecute(r ApiGetDatabaseConnectionEndUserRequest) (*DatabaseConnectionEndUser, *http.Response, error) {
	var (
		traceKey            = "databaseaccountsapi.getDatabaseConnectionEndUser"
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DatabaseConnectionEndUser
	)

	localVarPath := "/v1/teams/{team_name}/databases/{database_connection_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"team_name"+"}", url.PathEscape(parameterValueToString(r.teamName, "teamName")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"database_connection_id"+"}", url.PathEscape(parameterValueToString(r.databaseConnectionId, "databaseConnectionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarHTTPResponse, err := a.client.callAPI(r.ctx, traceKey, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles, &localVarReturnValue)

	if err != nil {
		if localVarHTTPResponse == nil {
			return localVarReturnValue, nil, err
		}

		originalErr := err
		// read and unmarshal error response into right struct
		bodyBytes, err := io.ReadAll(localVarHTTPResponse.Body)
		if err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error reading response body: %w", originalErr, err)
		}
		if err := localVarHTTPResponse.Body.Close(); err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error closing response body: %w", originalErr, err)
		}
		// if bodyBytes is empty, we will face unmarshalling error later anyway
		if len(bodyBytes) == 0 {
			return localVarReturnValue, localVarHTTPResponse, originalErr
		}
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewReader(bodyBytes)) //Reset body for the caller
		if localVarHTTPResponse.StatusCode == 404 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v NotFoundResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into NotFoundResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		var apiError APIError
		if err := json.Unmarshal(bodyBytes, &apiError); err != nil {
			return localVarReturnValue, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into APIError: %w", originalErr, err)
		}
		return localVarReturnValue, localVarHTTPResponse, apiError
	}

	return localVarReturnValue, localVarHTTPResponse, err
}

type ApiListDatabaseAccountRulesRequest struct {
	ctx                  context.Context
	ApiService           *DatabaseAccountsAPIService
	teamName             string
	databaseConnectionId string
	count                *int32
	prev                 *bool
	offset               *string
	descending           *bool
}

// The number of objects per page
func (r ApiListDatabaseAccountRulesRequest) Count(count int32) ApiListDatabaseAccountRulesRequest {
	r.count = &count
	return r
}

// The direction of paging
func (r ApiListDatabaseAccountRulesRequest) Prev(prev bool) ApiListDatabaseAccountRulesRequest {
	r.prev = &prev
	return r
}

// The offset value for pagination. The **rel&#x3D;\&quot;next\&quot;** and **rel&#x3D;\&quot;prev\&quot;** &#x60;Link&#x60; headers define the offset for subsequent or previous pages.
func (r ApiListDatabaseAccountRulesRequest) Offset(offset string) ApiListDatabaseAccountRulesRequest {
	r.offset = &offset
	return r
}

// The object order
func (r ApiListDatabaseAccountRulesRequest) Descending(descending bool) ApiListDatabaseAccountRulesRequest {
	r.descending = &descending
	return r
}

func (r ApiListDatabaseAccountRulesRequest) Execute() (*ListDatabaseAccountRulesResponse, *http.Response, error) {
	return r.ApiService.ListDatabaseAccountRulesExecute(r)
}

/*
ListDatabaseAccountRules List all database account rules

	Lists all database account rules.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().

	@param teamName The name of your team
	@param databaseConnectionId The UUID of a database connection

@return ApiListDatabaseAccountRulesRequest
*/
func (a *DatabaseAccountsAPIService) ListDatabaseAccountRules(ctx context.Context, teamName string, databaseConnectionId string) ApiListDatabaseAccountRulesRequest {
	return ApiListDatabaseAccountRulesRequest{
		ApiService:           a,
		ctx:                  ctx,
		teamName:             teamName,
		databaseConnectionId: databaseConnectionId,
	}
}

// Execute executes the request
//
//	@return ListDatabaseAccountRulesResponse
func (a *DatabaseAccountsAPIService) ListDatabaseAccountRulesExecute(r ApiListDatabaseAccountRulesRequest) (*ListDatabaseAccountRulesResponse, *http.Response, error) {
	var (
		traceKey            = "databaseaccountsapi.listDatabaseAccountRules"
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListDatabaseAccountRulesResponse
	)

	localVarPath := "/v1/teams/{team_name}/connections/databases/{database_connection_id}/rules"
	localVarPath = strings.Replace(localVarPath, "{"+"team_name"+"}", url.PathEscape(parameterValueToString(r.teamName, "teamName")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"database_connection_id"+"}", url.PathEscape(parameterValueToString(r.databaseConnectionId, "databaseConnectionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "")
	}
	if r.prev != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prev", r.prev, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.descending != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "descending", r.descending, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarHTTPResponse, err := a.client.callAPI(r.ctx, traceKey, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles, &localVarReturnValue)

	if err != nil {
		if localVarHTTPResponse == nil {
			return localVarReturnValue, nil, err
		}

		originalErr := err
		// read and unmarshal error response into right struct
		bodyBytes, err := io.ReadAll(localVarHTTPResponse.Body)
		if err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error reading response body: %w", originalErr, err)
		}
		if err := localVarHTTPResponse.Body.Close(); err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error closing response body: %w", originalErr, err)
		}
		// if bodyBytes is empty, we will face unmarshalling error later anyway
		if len(bodyBytes) == 0 {
			return localVarReturnValue, localVarHTTPResponse, originalErr
		}
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewReader(bodyBytes)) //Reset body for the caller
		if localVarHTTPResponse.StatusCode == 401 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v UnauthorizedAccessResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into UnauthorizedAccessResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		var apiError APIError
		if err := json.Unmarshal(bodyBytes, &apiError); err != nil {
			return localVarReturnValue, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into APIError: %w", originalErr, err)
		}
		return localVarReturnValue, localVarHTTPResponse, apiError
	}

	return localVarReturnValue, localVarHTTPResponse, err
}

type ApiListDatabaseAccountsRequest struct {
	ctx                  context.Context
	ApiService           *DatabaseAccountsAPIService
	teamName             string
	databaseConnectionId string
	contains             *string
	count                *int32
	prev                 *bool
	offset               *string
	descending           *bool
}

// Only returns results that include the specified value in account name.
func (r ApiListDatabaseAccountsRequest) Contains(contains string) ApiListDatabaseAccountsRequest {
	r.contains = &contains
	return r
}

// The number of objects per page
func (r ApiListDatabaseAccountsRequest) Count(count int32) ApiListDatabaseAccountsRequest {
	r.count = &count
	return r
}

// The direction of paging
func (r ApiListDatabaseAccountsRequest) Prev(prev bool) ApiListDatabaseAccountsRequest {
	r.prev = &prev
	return r
}

// The offset value for pagination. The **rel&#x3D;\&quot;next\&quot;** and **rel&#x3D;\&quot;prev\&quot;** &#x60;Link&#x60; headers define the offset for subsequent or previous pages.
func (r ApiListDatabaseAccountsRequest) Offset(offset string) ApiListDatabaseAccountsRequest {
	r.offset = &offset
	return r
}

// The object order
func (r ApiListDatabaseAccountsRequest) Descending(descending bool) ApiListDatabaseAccountsRequest {
	r.descending = &descending
	return r
}

func (r ApiListDatabaseAccountsRequest) Execute() (*ListDatabaseAccountsResponse, *http.Response, error) {
	return r.ApiService.ListDatabaseAccountsExecute(r)
}

/*
ListDatabaseAccounts List all discovered database accounts

	Lists all discovered database accounts for the specified database connection.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().

	@param teamName The name of your team
	@param databaseConnectionId The UUID of a database connection

@return ApiListDatabaseAccountsRequest
*/
func (a *DatabaseAccountsAPIService) ListDatabaseAccounts(ctx context.Context, teamName string, databaseConnectionId string) ApiListDatabaseAccountsRequest {
	return ApiListDatabaseAccountsRequest{
		ApiService:           a,
		ctx:                  ctx,
		teamName:             teamName,
		databaseConnectionId: databaseConnectionId,
	}
}

// Execute executes the request
//
//	@return ListDatabaseAccountsResponse
func (a *DatabaseAccountsAPIService) ListDatabaseAccountsExecute(r ApiListDatabaseAccountsRequest) (*ListDatabaseAccountsResponse, *http.Response, error) {
	var (
		traceKey            = "databaseaccountsapi.listDatabaseAccounts"
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListDatabaseAccountsResponse
	)

	localVarPath := "/v1/teams/{team_name}/connections/databases/{database_connection_id}/accounts"
	localVarPath = strings.Replace(localVarPath, "{"+"team_name"+"}", url.PathEscape(parameterValueToString(r.teamName, "teamName")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"database_connection_id"+"}", url.PathEscape(parameterValueToString(r.databaseConnectionId, "databaseConnectionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.contains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "contains", r.contains, "")
	}
	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "")
	}
	if r.prev != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prev", r.prev, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.descending != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "descending", r.descending, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarHTTPResponse, err := a.client.callAPI(r.ctx, traceKey, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles, &localVarReturnValue)

	if err != nil {
		if localVarHTTPResponse == nil {
			return localVarReturnValue, nil, err
		}

		originalErr := err
		// read and unmarshal error response into right struct
		bodyBytes, err := io.ReadAll(localVarHTTPResponse.Body)
		if err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error reading response body: %w", originalErr, err)
		}
		if err := localVarHTTPResponse.Body.Close(); err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error closing response body: %w", originalErr, err)
		}
		// if bodyBytes is empty, we will face unmarshalling error later anyway
		if len(bodyBytes) == 0 {
			return localVarReturnValue, localVarHTTPResponse, originalErr
		}
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewReader(bodyBytes)) //Reset body for the caller
		if localVarHTTPResponse.StatusCode == 401 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v UnauthorizedAccessResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into UnauthorizedAccessResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		if localVarHTTPResponse.StatusCode == 404 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v NotFoundResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into NotFoundResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		var apiError APIError
		if err := json.Unmarshal(bodyBytes, &apiError); err != nil {
			return localVarReturnValue, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into APIError: %w", originalErr, err)
		}
		return localVarReturnValue, localVarHTTPResponse, apiError
	}

	return localVarReturnValue, localVarHTTPResponse, err
}

type ApiListDatabaseAccountsEndUserRequest struct {
	ctx                  context.Context
	ApiService           *DatabaseAccountsAPIService
	teamName             string
	databaseConnectionId string
	contains             *string
	status               *[]ServiceAccountStatusDetail
}

// Filters for account name where the name contains the search string
func (r ApiListDatabaseAccountsEndUserRequest) Contains(contains string) ApiListDatabaseAccountsEndUserRequest {
	r.contains = &contains
	return r
}

// Filter database accounts by status.
func (r ApiListDatabaseAccountsEndUserRequest) Status(status []ServiceAccountStatusDetail) ApiListDatabaseAccountsEndUserRequest {
	r.status = &status
	return r
}

func (r ApiListDatabaseAccountsEndUserRequest) Execute() (*ListDatabaseAccountsEndUserResponse, *http.Response, error) {
	return r.ApiService.ListDatabaseAccountsEndUserExecute(r)
}

/*
ListDatabaseAccountsEndUser List all database accounts within a connection for end user

	Lists all database accounts within a connection that you (as the request user) can access

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().

	@param teamName The name of your team
	@param databaseConnectionId The UUID of a database connection

@return ApiListDatabaseAccountsEndUserRequest
*/
func (a *DatabaseAccountsAPIService) ListDatabaseAccountsEndUser(ctx context.Context, teamName string, databaseConnectionId string) ApiListDatabaseAccountsEndUserRequest {
	return ApiListDatabaseAccountsEndUserRequest{
		ApiService:           a,
		ctx:                  ctx,
		teamName:             teamName,
		databaseConnectionId: databaseConnectionId,
	}
}

// Execute executes the request
//
//	@return ListDatabaseAccountsEndUserResponse
func (a *DatabaseAccountsAPIService) ListDatabaseAccountsEndUserExecute(r ApiListDatabaseAccountsEndUserRequest) (*ListDatabaseAccountsEndUserResponse, *http.Response, error) {
	var (
		traceKey            = "databaseaccountsapi.listDatabaseAccountsEndUser"
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListDatabaseAccountsEndUserResponse
	)

	localVarPath := "/v1/teams/{team_name}/databases/{database_connection_id}/accounts"
	localVarPath = strings.Replace(localVarPath, "{"+"team_name"+"}", url.PathEscape(parameterValueToString(r.teamName, "teamName")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"database_connection_id"+"}", url.PathEscape(parameterValueToString(r.databaseConnectionId, "databaseConnectionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.contains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "contains", r.contains, "")
	}
	if r.status != nil {
		t := *r.status
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "status", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "status", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarHTTPResponse, err := a.client.callAPI(r.ctx, traceKey, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles, &localVarReturnValue)

	if err != nil {
		if localVarHTTPResponse == nil {
			return localVarReturnValue, nil, err
		}

		originalErr := err
		// read and unmarshal error response into right struct
		bodyBytes, err := io.ReadAll(localVarHTTPResponse.Body)
		if err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error reading response body: %w", originalErr, err)
		}
		if err := localVarHTTPResponse.Body.Close(); err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error closing response body: %w", originalErr, err)
		}
		// if bodyBytes is empty, we will face unmarshalling error later anyway
		if len(bodyBytes) == 0 {
			return localVarReturnValue, localVarHTTPResponse, originalErr
		}
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewReader(bodyBytes)) //Reset body for the caller
		var apiError APIError
		if err := json.Unmarshal(bodyBytes, &apiError); err != nil {
			return localVarReturnValue, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into APIError: %w", originalErr, err)
		}
		return localVarReturnValue, localVarHTTPResponse, apiError
	}

	return localVarReturnValue, localVarHTTPResponse, err
}

type ApiListDatabaseConnectionsEndUserRequest struct {
	ctx        context.Context
	ApiService *DatabaseAccountsAPIService
	teamName   string
	contains   *string
	authType   *[]DatabaseAuthType
}

// Filters for connection name where the name contains the search string
func (r ApiListDatabaseConnectionsEndUserRequest) Contains(contains string) ApiListDatabaseConnectionsEndUserRequest {
	r.contains = &contains
	return r
}

// Filter database connections by authentication type
func (r ApiListDatabaseConnectionsEndUserRequest) AuthType(authType []DatabaseAuthType) ApiListDatabaseConnectionsEndUserRequest {
	r.authType = &authType
	return r
}

func (r ApiListDatabaseConnectionsEndUserRequest) Execute() (*ListDatabaseConnectionsEndUserResponse, *http.Response, error) {
	return r.ApiService.ListDatabaseConnectionsEndUserExecute(r)
}

/*
ListDatabaseConnectionsEndUser List all database connections for end user

	Lists all database connections that you (as the request user) can access based on the security policies

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().

	@param teamName The name of your team

@return ApiListDatabaseConnectionsEndUserRequest
*/
func (a *DatabaseAccountsAPIService) ListDatabaseConnectionsEndUser(ctx context.Context, teamName string) ApiListDatabaseConnectionsEndUserRequest {
	return ApiListDatabaseConnectionsEndUserRequest{
		ApiService: a,
		ctx:        ctx,
		teamName:   teamName,
	}
}

// Execute executes the request
//
//	@return ListDatabaseConnectionsEndUserResponse
func (a *DatabaseAccountsAPIService) ListDatabaseConnectionsEndUserExecute(r ApiListDatabaseConnectionsEndUserRequest) (*ListDatabaseConnectionsEndUserResponse, *http.Response, error) {
	var (
		traceKey            = "databaseaccountsapi.listDatabaseConnectionsEndUser"
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListDatabaseConnectionsEndUserResponse
	)

	localVarPath := "/v1/teams/{team_name}/databases"
	localVarPath = strings.Replace(localVarPath, "{"+"team_name"+"}", url.PathEscape(parameterValueToString(r.teamName, "teamName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.contains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "contains", r.contains, "")
	}
	if r.authType != nil {
		t := *r.authType
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "auth_type", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "auth_type", t, "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarHTTPResponse, err := a.client.callAPI(r.ctx, traceKey, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles, &localVarReturnValue)

	if err != nil {
		if localVarHTTPResponse == nil {
			return localVarReturnValue, nil, err
		}

		originalErr := err
		// read and unmarshal error response into right struct
		bodyBytes, err := io.ReadAll(localVarHTTPResponse.Body)
		if err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error reading response body: %w", originalErr, err)
		}
		if err := localVarHTTPResponse.Body.Close(); err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error closing response body: %w", originalErr, err)
		}
		// if bodyBytes is empty, we will face unmarshalling error later anyway
		if len(bodyBytes) == 0 {
			return localVarReturnValue, localVarHTTPResponse, originalErr
		}
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewReader(bodyBytes)) //Reset body for the caller
		var apiError APIError
		if err := json.Unmarshal(bodyBytes, &apiError); err != nil {
			return localVarReturnValue, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into APIError: %w", originalErr, err)
		}
		return localVarReturnValue, localVarHTTPResponse, apiError
	}

	return localVarReturnValue, localVarHTTPResponse, err
}

type ApiListUAMForDatabaseAccountRequest struct {
	ctx                  context.Context
	ApiService           *DatabaseAccountsAPIService
	teamName             string
	databaseConnectionId string
	databaseAccountId    string
}

func (r ApiListUAMForDatabaseAccountRequest) Execute() (*ListUAMForDatabaseAccountResponse, *http.Response, error) {
	return r.ApiService.ListUAMForDatabaseAccountExecute(r)
}

/*
ListUAMForDatabaseAccount List all user access methods for a database account

	Lists all user access methods for a database account based on the security policies

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().

	@param teamName The name of your team
	@param databaseConnectionId The UUID of a database connection
	@param databaseAccountId The UUID of a database account

@return ApiListUAMForDatabaseAccountRequest
*/
func (a *DatabaseAccountsAPIService) ListUAMForDatabaseAccount(ctx context.Context, teamName string, databaseConnectionId string, databaseAccountId string) ApiListUAMForDatabaseAccountRequest {
	return ApiListUAMForDatabaseAccountRequest{
		ApiService:           a,
		ctx:                  ctx,
		teamName:             teamName,
		databaseConnectionId: databaseConnectionId,
		databaseAccountId:    databaseAccountId,
	}
}

// Execute executes the request
//
//	@return ListUAMForDatabaseAccountResponse
func (a *DatabaseAccountsAPIService) ListUAMForDatabaseAccountExecute(r ApiListUAMForDatabaseAccountRequest) (*ListUAMForDatabaseAccountResponse, *http.Response, error) {
	var (
		traceKey            = "databaseaccountsapi.listUAMForDatabaseAccount"
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListUAMForDatabaseAccountResponse
	)

	localVarPath := "/v1/teams/{team_name}/databases/{database_connection_id}/accounts/{database_account_id}/user_access_methods"
	localVarPath = strings.Replace(localVarPath, "{"+"team_name"+"}", url.PathEscape(parameterValueToString(r.teamName, "teamName")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"database_connection_id"+"}", url.PathEscape(parameterValueToString(r.databaseConnectionId, "databaseConnectionId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"database_account_id"+"}", url.PathEscape(parameterValueToString(r.databaseAccountId, "databaseAccountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarHTTPResponse, err := a.client.callAPI(r.ctx, traceKey, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles, &localVarReturnValue)

	if err != nil {
		if localVarHTTPResponse == nil {
			return localVarReturnValue, nil, err
		}

		originalErr := err
		// read and unmarshal error response into right struct
		bodyBytes, err := io.ReadAll(localVarHTTPResponse.Body)
		if err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error reading response body: %w", originalErr, err)
		}
		if err := localVarHTTPResponse.Body.Close(); err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error closing response body: %w", originalErr, err)
		}
		// if bodyBytes is empty, we will face unmarshalling error later anyway
		if len(bodyBytes) == 0 {
			return localVarReturnValue, localVarHTTPResponse, originalErr
		}
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewReader(bodyBytes)) //Reset body for the caller
		var apiError APIError
		if err := json.Unmarshal(bodyBytes, &apiError); err != nil {
			return localVarReturnValue, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into APIError: %w", originalErr, err)
		}
		return localVarReturnValue, localVarHTTPResponse, apiError
	}

	return localVarReturnValue, localVarHTTPResponse, err
}

type ApiReorderDatabaseAccountRulesRequest struct {
	ctx                               context.Context
	ApiService                        *DatabaseAccountsAPIService
	teamName                          string
	databaseConnectionId              string
	reorderDatabaseAccountRuleRequest *[]ReorderDatabaseAccountRuleRequest
}

func (r ApiReorderDatabaseAccountRulesRequest) ReorderDatabaseAccountRuleRequest(reorderDatabaseAccountRuleRequest []ReorderDatabaseAccountRuleRequest) ApiReorderDatabaseAccountRulesRequest {
	r.reorderDatabaseAccountRuleRequest = &reorderDatabaseAccountRuleRequest
	return r
}

func (r ApiReorderDatabaseAccountRulesRequest) Execute() (*ListDatabaseAccountRulesResponse, *http.Response, error) {
	return r.ApiService.ReorderDatabaseAccountRulesExecute(r)
}

/*
ReorderDatabaseAccountRules Reorder database account rules

	Reorders database account rules.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().

	@param teamName The name of your team
	@param databaseConnectionId The UUID of a database connection

@return ApiReorderDatabaseAccountRulesRequest
*/
func (a *DatabaseAccountsAPIService) ReorderDatabaseAccountRules(ctx context.Context, teamName string, databaseConnectionId string) ApiReorderDatabaseAccountRulesRequest {
	return ApiReorderDatabaseAccountRulesRequest{
		ApiService:           a,
		ctx:                  ctx,
		teamName:             teamName,
		databaseConnectionId: databaseConnectionId,
	}
}

// Execute executes the request
//
//	@return ListDatabaseAccountRulesResponse
func (a *DatabaseAccountsAPIService) ReorderDatabaseAccountRulesExecute(r ApiReorderDatabaseAccountRulesRequest) (*ListDatabaseAccountRulesResponse, *http.Response, error) {
	var (
		traceKey            = "databaseaccountsapi.reorderDatabaseAccountRules"
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListDatabaseAccountRulesResponse
	)

	localVarPath := "/v1/teams/{team_name}/resource_assignment/databases/{database_connection_id}/rules/reorder"
	localVarPath = strings.Replace(localVarPath, "{"+"team_name"+"}", url.PathEscape(parameterValueToString(r.teamName, "teamName")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"database_connection_id"+"}", url.PathEscape(parameterValueToString(r.databaseConnectionId, "databaseConnectionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.reorderDatabaseAccountRuleRequest == nil {
		return localVarReturnValue, nil, reportError("reorderDatabaseAccountRuleRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.reorderDatabaseAccountRuleRequest
	localVarHTTPResponse, err := a.client.callAPI(r.ctx, traceKey, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles, &localVarReturnValue)

	if err != nil {
		if localVarHTTPResponse == nil {
			return localVarReturnValue, nil, err
		}

		originalErr := err
		// read and unmarshal error response into right struct
		bodyBytes, err := io.ReadAll(localVarHTTPResponse.Body)
		if err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error reading response body: %w", originalErr, err)
		}
		if err := localVarHTTPResponse.Body.Close(); err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error closing response body: %w", originalErr, err)
		}
		// if bodyBytes is empty, we will face unmarshalling error later anyway
		if len(bodyBytes) == 0 {
			return localVarReturnValue, localVarHTTPResponse, originalErr
		}
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewReader(bodyBytes)) //Reset body for the caller
		if localVarHTTPResponse.StatusCode == 400 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v BadRequestResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into BadRequestResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		if localVarHTTPResponse.StatusCode == 401 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v UnauthorizedAccessResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into UnauthorizedAccessResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		var apiError APIError
		if err := json.Unmarshal(bodyBytes, &apiError); err != nil {
			return localVarReturnValue, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into APIError: %w", originalErr, err)
		}
		return localVarReturnValue, localVarHTTPResponse, apiError
	}

	return localVarReturnValue, localVarHTTPResponse, err
}

type ApiRevealDatabaseAccountCredentialsRequest struct {
	ctx                                     context.Context
	ApiService                              *DatabaseAccountsAPIService
	teamName                                string
	databaseConnectionId                    string
	databaseAccountId                       string
	databaseAccountRevealCredentialsRequest *DatabaseAccountRevealCredentialsRequest
}

func (r ApiRevealDatabaseAccountCredentialsRequest) DatabaseAccountRevealCredentialsRequest(databaseAccountRevealCredentialsRequest DatabaseAccountRevealCredentialsRequest) ApiRevealDatabaseAccountCredentialsRequest {
	r.databaseAccountRevealCredentialsRequest = &databaseAccountRevealCredentialsRequest
	return r
}

func (r ApiRevealDatabaseAccountCredentialsRequest) Execute() (*DatabaseAccountRevealCredentialsResponse, *http.Response, error) {
	return r.ApiService.RevealDatabaseAccountCredentialsExecute(r)
}

/*
RevealDatabaseAccountCredentials Reveal the credentials for a database account

	Reveals the credentials belonging to a database account that you (as the request user) can access

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().

	@param teamName The name of your team
	@param databaseConnectionId The UUID of a database connection
	@param databaseAccountId The UUID of a database account

@return ApiRevealDatabaseAccountCredentialsRequest
*/
func (a *DatabaseAccountsAPIService) RevealDatabaseAccountCredentials(ctx context.Context, teamName string, databaseConnectionId string, databaseAccountId string) ApiRevealDatabaseAccountCredentialsRequest {
	return ApiRevealDatabaseAccountCredentialsRequest{
		ApiService:           a,
		ctx:                  ctx,
		teamName:             teamName,
		databaseConnectionId: databaseConnectionId,
		databaseAccountId:    databaseAccountId,
	}
}

// Execute executes the request
//
//	@return DatabaseAccountRevealCredentialsResponse
func (a *DatabaseAccountsAPIService) RevealDatabaseAccountCredentialsExecute(r ApiRevealDatabaseAccountCredentialsRequest) (*DatabaseAccountRevealCredentialsResponse, *http.Response, error) {
	var (
		traceKey            = "databaseaccountsapi.revealDatabaseAccountCredentials"
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DatabaseAccountRevealCredentialsResponse
	)

	localVarPath := "/v1/teams/{team_name}/databases/{database_connection_id}/accounts/{database_account_id}/reveal_credentials"
	localVarPath = strings.Replace(localVarPath, "{"+"team_name"+"}", url.PathEscape(parameterValueToString(r.teamName, "teamName")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"database_connection_id"+"}", url.PathEscape(parameterValueToString(r.databaseConnectionId, "databaseConnectionId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"database_account_id"+"}", url.PathEscape(parameterValueToString(r.databaseAccountId, "databaseAccountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.databaseAccountRevealCredentialsRequest == nil {
		return localVarReturnValue, nil, reportError("databaseAccountRevealCredentialsRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.databaseAccountRevealCredentialsRequest
	localVarHTTPResponse, err := a.client.callAPI(r.ctx, traceKey, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles, &localVarReturnValue)

	if err != nil {
		if localVarHTTPResponse == nil {
			return localVarReturnValue, nil, err
		}

		originalErr := err
		// read and unmarshal error response into right struct
		bodyBytes, err := io.ReadAll(localVarHTTPResponse.Body)
		if err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error reading response body: %w", originalErr, err)
		}
		if err := localVarHTTPResponse.Body.Close(); err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error closing response body: %w", originalErr, err)
		}
		// if bodyBytes is empty, we will face unmarshalling error later anyway
		if len(bodyBytes) == 0 {
			return localVarReturnValue, localVarHTTPResponse, originalErr
		}
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewReader(bodyBytes)) //Reset body for the caller
		if localVarHTTPResponse.StatusCode == 401 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v UnauthorizedAccessResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into UnauthorizedAccessResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		if localVarHTTPResponse.StatusCode == 404 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v NotFoundResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into NotFoundResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		var apiError APIError
		if err := json.Unmarshal(bodyBytes, &apiError); err != nil {
			return localVarReturnValue, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into APIError: %w", originalErr, err)
		}
		return localVarReturnValue, localVarHTTPResponse, apiError
	}

	return localVarReturnValue, localVarHTTPResponse, err
}

type ApiUpdateDatabaseAccountRuleRequest struct {
	ctx                        context.Context
	ApiService                 *DatabaseAccountsAPIService
	teamName                   string
	databaseConnectionId       string
	databaseAccountRuleId      string
	databaseAccountRuleRequest *DatabaseAccountRuleRequest
}

func (r ApiUpdateDatabaseAccountRuleRequest) DatabaseAccountRuleRequest(databaseAccountRuleRequest DatabaseAccountRuleRequest) ApiUpdateDatabaseAccountRuleRequest {
	r.databaseAccountRuleRequest = &databaseAccountRuleRequest
	return r
}

func (r ApiUpdateDatabaseAccountRuleRequest) Execute() (*DatabaseAccountRuleResponse, *http.Response, error) {
	return r.ApiService.UpdateDatabaseAccountRuleExecute(r)
}

/*
UpdateDatabaseAccountRule Update a database account rule

	Updates a database account rule.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().

	@param teamName The name of your team
	@param databaseConnectionId The UUID of a database connection
	@param databaseAccountRuleId The UUID of a database account rule

@return ApiUpdateDatabaseAccountRuleRequest
*/
func (a *DatabaseAccountsAPIService) UpdateDatabaseAccountRule(ctx context.Context, teamName string, databaseConnectionId string, databaseAccountRuleId string) ApiUpdateDatabaseAccountRuleRequest {
	return ApiUpdateDatabaseAccountRuleRequest{
		ApiService:            a,
		ctx:                   ctx,
		teamName:              teamName,
		databaseConnectionId:  databaseConnectionId,
		databaseAccountRuleId: databaseAccountRuleId,
	}
}

// Execute executes the request
//
//	@return DatabaseAccountRuleResponse
func (a *DatabaseAccountsAPIService) UpdateDatabaseAccountRuleExecute(r ApiUpdateDatabaseAccountRuleRequest) (*DatabaseAccountRuleResponse, *http.Response, error) {
	var (
		traceKey            = "databaseaccountsapi.updateDatabaseAccountRule"
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DatabaseAccountRuleResponse
	)

	localVarPath := "/v1/teams/{team_name}/connections/databases/{database_connection_id}/rules/{database_account_rule_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"team_name"+"}", url.PathEscape(parameterValueToString(r.teamName, "teamName")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"database_connection_id"+"}", url.PathEscape(parameterValueToString(r.databaseConnectionId, "databaseConnectionId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"database_account_rule_id"+"}", url.PathEscape(parameterValueToString(r.databaseAccountRuleId, "databaseAccountRuleId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.databaseAccountRuleRequest == nil {
		return localVarReturnValue, nil, reportError("databaseAccountRuleRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.databaseAccountRuleRequest
	localVarHTTPResponse, err := a.client.callAPI(r.ctx, traceKey, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles, &localVarReturnValue)

	if err != nil {
		if localVarHTTPResponse == nil {
			return localVarReturnValue, nil, err
		}

		originalErr := err
		// read and unmarshal error response into right struct
		bodyBytes, err := io.ReadAll(localVarHTTPResponse.Body)
		if err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error reading response body: %w", originalErr, err)
		}
		if err := localVarHTTPResponse.Body.Close(); err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error closing response body: %w", originalErr, err)
		}
		// if bodyBytes is empty, we will face unmarshalling error later anyway
		if len(bodyBytes) == 0 {
			return localVarReturnValue, localVarHTTPResponse, originalErr
		}
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewReader(bodyBytes)) //Reset body for the caller
		if localVarHTTPResponse.StatusCode == 400 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v BadRequestResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into BadRequestResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		if localVarHTTPResponse.StatusCode == 401 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v UnauthorizedAccessResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into UnauthorizedAccessResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		if localVarHTTPResponse.StatusCode == 404 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v NotFoundResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into NotFoundResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		var apiError APIError
		if err := json.Unmarshal(bodyBytes, &apiError); err != nil {
			return localVarReturnValue, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into APIError: %w", originalErr, err)
		}
		return localVarReturnValue, localVarHTTPResponse, apiError
	}

	return localVarReturnValue, localVarHTTPResponse, err
}
