/*
Okta Privileged Access

The Okta Privileged Access API is a control plane used to request operations in Okta Privileged Access (formerly ScaleFT/Advanced Server Access)

API version: 1.0.0
Contact: support@okta.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package pam

import (
	"bytes"
	"context"
	"encoding/json"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// RandomPasswordGenerationAPIService RandomPasswordGenerationAPI service
type RandomPasswordGenerationAPIService service

type ApiCreateRandomPasswordRequest struct {
	ctx                         context.Context
	ApiService                  *RandomPasswordGenerationAPIService
	teamName                    string
	randomPasswordCreateRequest *RandomPasswordCreateRequest
}

func (r ApiCreateRandomPasswordRequest) RandomPasswordCreateRequest(randomPasswordCreateRequest RandomPasswordCreateRequest) ApiCreateRandomPasswordRequest {
	r.randomPasswordCreateRequest = &randomPasswordCreateRequest
	return r
}

func (r ApiCreateRandomPasswordRequest) Execute() (*RandomPasswordCreateResponse, *http.Response, error) {
	return r.ApiService.CreateRandomPasswordExecute(r)
}

/*
CreateRandomPassword Generate a random password

	Generates a random password based on the request parameters provided

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().

	@param teamName The name of your team

@return ApiCreateRandomPasswordRequest
*/
func (a *RandomPasswordGenerationAPIService) CreateRandomPassword(ctx context.Context, teamName string) ApiCreateRandomPasswordRequest {
	return ApiCreateRandomPasswordRequest{
		ApiService: a,
		ctx:        ctx,
		teamName:   teamName,
	}
}

// Execute executes the request
//
//	@return RandomPasswordCreateResponse
func (a *RandomPasswordGenerationAPIService) CreateRandomPasswordExecute(r ApiCreateRandomPasswordRequest) (*RandomPasswordCreateResponse, *http.Response, error) {
	var (
		traceKey            = "randompasswordgenerationapi.createRandomPassword"
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RandomPasswordCreateResponse
	)

	localVarPath := "/v1/teams/{team_name}/random_password"
	localVarPath = strings.Replace(localVarPath, "{"+"team_name"+"}", url.PathEscape(parameterValueToString(r.teamName, "teamName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.randomPasswordCreateRequest
	localVarHTTPResponse, err := a.client.callAPI(r.ctx, traceKey, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles, &localVarReturnValue)

	if err != nil {
		if localVarHTTPResponse == nil {
			return localVarReturnValue, nil, err
		}

		// read and unmarshal error response into right struct
		bodyBytes, err := io.ReadAll(localVarHTTPResponse.Body)
		if err != nil {
			return localVarReturnValue, nil, err
		}
		if err := localVarHTTPResponse.Body.Close(); err != nil {
			return localVarReturnValue, nil, err
		}
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewReader(bodyBytes)) //Reset body for the caller
		if localVarHTTPResponse.StatusCode == 400 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v BadRequestResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, err
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		if localVarHTTPResponse.StatusCode == 401 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v UnauthorizedAccessResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, err
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		var apiError APIError
		if err := json.Unmarshal(bodyBytes, &apiError); err != nil {
			return localVarReturnValue, localVarHTTPResponse, err
		}
		return localVarReturnValue, localVarHTTPResponse, apiError
	}

	return localVarReturnValue, localVarHTTPResponse, err
}
