/*
Okta Privileged Access

The Okta Privileged Access API is a control plane used to request operations in Okta Privileged Access (formerly ScaleFT/Advanced Server Access)

API version: 1.0.0
Contact: support@okta.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package pam

import (
	"bytes"
	"context"
	"encoding/json"
	"fmt"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// WorkloadRolesAPIService WorkloadRolesAPI service
type WorkloadRolesAPIService service

type ApiCreateWorkloadRoleRequest struct {
	ctx          context.Context
	ApiService   *WorkloadRolesAPIService
	teamName     string
	workloadRole *WorkloadRole
}

func (r ApiCreateWorkloadRoleRequest) WorkloadRole(workloadRole WorkloadRole) ApiCreateWorkloadRoleRequest {
	r.workloadRole = &workloadRole
	return r
}

func (r ApiCreateWorkloadRoleRequest) Execute() (*WorkloadRole, *http.Response, error) {
	return r.ApiService.CreateWorkloadRoleExecute(r)
}

/*
CreateWorkloadRole Create a new workload role

	Creates a new workload role

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().

	@param teamName The name of your team

@return ApiCreateWorkloadRoleRequest
*/
func (a *WorkloadRolesAPIService) CreateWorkloadRole(ctx context.Context, teamName string) ApiCreateWorkloadRoleRequest {
	return ApiCreateWorkloadRoleRequest{
		ApiService: a,
		ctx:        ctx,
		teamName:   teamName,
	}
}

// Execute executes the request
//
//	@return WorkloadRole
func (a *WorkloadRolesAPIService) CreateWorkloadRoleExecute(r ApiCreateWorkloadRoleRequest) (*WorkloadRole, *http.Response, error) {
	var (
		traceKey            = "workloadrolesapi.createWorkloadRole"
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkloadRole
	)

	localVarPath := "/v1/teams/{team_name}/workload-roles"
	localVarPath = strings.Replace(localVarPath, "{"+"team_name"+"}", url.PathEscape(parameterValueToString(r.teamName, "teamName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.workloadRole == nil {
		return localVarReturnValue, nil, reportError("workloadRole is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.workloadRole
	localVarHTTPResponse, err := a.client.callAPI(r.ctx, traceKey, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles, &localVarReturnValue)

	if err != nil {
		if localVarHTTPResponse == nil {
			return localVarReturnValue, nil, err
		}

		originalErr := err
		// read and unmarshal error response into right struct
		bodyBytes, err := io.ReadAll(localVarHTTPResponse.Body)
		if err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error reading response body: %w", originalErr, err)
		}
		if err := localVarHTTPResponse.Body.Close(); err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error closing response body: %w", originalErr, err)
		}
		// if bodyBytes is empty, we will face unmarshalling error later anyway
		if len(bodyBytes) == 0 {
			return localVarReturnValue, localVarHTTPResponse, originalErr
		}
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewReader(bodyBytes)) //Reset body for the caller
		if localVarHTTPResponse.StatusCode == 400 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v BadRequestResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into BadRequestResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		if localVarHTTPResponse.StatusCode == 401 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v UnauthorizedAccessResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into UnauthorizedAccessResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		var apiError APIError
		if err := json.Unmarshal(bodyBytes, &apiError); err != nil {
			return localVarReturnValue, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into APIError: %w", originalErr, err)
		}
		return localVarReturnValue, localVarHTTPResponse, apiError
	}

	return localVarReturnValue, localVarHTTPResponse, err
}

type ApiDeleteWorkloadRoleRequest struct {
	ctx            context.Context
	ApiService     *WorkloadRolesAPIService
	teamName       string
	workloadRoleId string
}

func (r ApiDeleteWorkloadRoleRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteWorkloadRoleExecute(r)
}

/*
DeleteWorkloadRole Delete a workload role

	Deletes a workload role by its ID

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().

	@param teamName The name of your team
	@param workloadRoleId The ID of the workload role

@return ApiDeleteWorkloadRoleRequest
*/
func (a *WorkloadRolesAPIService) DeleteWorkloadRole(ctx context.Context, teamName string, workloadRoleId string) ApiDeleteWorkloadRoleRequest {
	return ApiDeleteWorkloadRoleRequest{
		ApiService:     a,
		ctx:            ctx,
		teamName:       teamName,
		workloadRoleId: workloadRoleId,
	}
}

// Execute executes the request
func (a *WorkloadRolesAPIService) DeleteWorkloadRoleExecute(r ApiDeleteWorkloadRoleRequest) (*http.Response, error) {
	var (
		traceKey           = "workloadrolesapi.deleteWorkloadRole"
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localVarPath := "/v1/teams/{team_name}/workload-roles/{workload_role_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"team_name"+"}", url.PathEscape(parameterValueToString(r.teamName, "teamName")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"workload_role_id"+"}", url.PathEscape(parameterValueToString(r.workloadRoleId, "workloadRoleId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarHTTPResponse, err := a.client.callAPI(r.ctx, traceKey, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles, nil)

	if err != nil {
		if localVarHTTPResponse == nil {
			return nil, err
		}

		originalErr := err
		// read and unmarshal error response into right struct
		bodyBytes, err := io.ReadAll(localVarHTTPResponse.Body)
		if err != nil {
			return nil, fmt.Errorf("%w: error reading response body: %w", originalErr, err)
		}
		if err := localVarHTTPResponse.Body.Close(); err != nil {
			return nil, fmt.Errorf("%w: error closing response body: %w", originalErr, err)
		}
		// if bodyBytes is empty, we will face unmarshalling error later anyway
		if len(bodyBytes) == 0 {
			return localVarHTTPResponse, originalErr
		}
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewReader(bodyBytes)) //Reset body for the caller
		if localVarHTTPResponse.StatusCode == 401 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v UnauthorizedAccessResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into UnauthorizedAccessResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return localVarHTTPResponse, nonDefaultResponse

		}
		if localVarHTTPResponse.StatusCode == 404 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v NotFoundResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into NotFoundResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return localVarHTTPResponse, nonDefaultResponse

		}
		var apiError APIError
		if err := json.Unmarshal(bodyBytes, &apiError); err != nil {
			return localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into APIError: %w", originalErr, err)
		}
		return localVarHTTPResponse, apiError
	}

	return localVarHTTPResponse, err
}

type ApiGetWorkloadRoleRequest struct {
	ctx            context.Context
	ApiService     *WorkloadRolesAPIService
	teamName       string
	workloadRoleId string
}

func (r ApiGetWorkloadRoleRequest) Execute() (*WorkloadRoleWithServerUsername, *http.Response, error) {
	return r.ApiService.GetWorkloadRoleExecute(r)
}

/*
GetWorkloadRole Retrieve a workload role

	Retrieves a workload role by its ID

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().

	@param teamName The name of your team
	@param workloadRoleId The ID of the workload role

@return ApiGetWorkloadRoleRequest
*/
func (a *WorkloadRolesAPIService) GetWorkloadRole(ctx context.Context, teamName string, workloadRoleId string) ApiGetWorkloadRoleRequest {
	return ApiGetWorkloadRoleRequest{
		ApiService:     a,
		ctx:            ctx,
		teamName:       teamName,
		workloadRoleId: workloadRoleId,
	}
}

// Execute executes the request
//
//	@return WorkloadRoleWithServerUsername
func (a *WorkloadRolesAPIService) GetWorkloadRoleExecute(r ApiGetWorkloadRoleRequest) (*WorkloadRoleWithServerUsername, *http.Response, error) {
	var (
		traceKey            = "workloadrolesapi.getWorkloadRole"
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkloadRoleWithServerUsername
	)

	localVarPath := "/v1/teams/{team_name}/workload-roles/{workload_role_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"team_name"+"}", url.PathEscape(parameterValueToString(r.teamName, "teamName")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"workload_role_id"+"}", url.PathEscape(parameterValueToString(r.workloadRoleId, "workloadRoleId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarHTTPResponse, err := a.client.callAPI(r.ctx, traceKey, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles, &localVarReturnValue)

	if err != nil {
		if localVarHTTPResponse == nil {
			return localVarReturnValue, nil, err
		}

		originalErr := err
		// read and unmarshal error response into right struct
		bodyBytes, err := io.ReadAll(localVarHTTPResponse.Body)
		if err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error reading response body: %w", originalErr, err)
		}
		if err := localVarHTTPResponse.Body.Close(); err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error closing response body: %w", originalErr, err)
		}
		// if bodyBytes is empty, we will face unmarshalling error later anyway
		if len(bodyBytes) == 0 {
			return localVarReturnValue, localVarHTTPResponse, originalErr
		}
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewReader(bodyBytes)) //Reset body for the caller
		if localVarHTTPResponse.StatusCode == 401 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v UnauthorizedAccessResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into UnauthorizedAccessResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		if localVarHTTPResponse.StatusCode == 404 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v NotFoundResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into NotFoundResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		var apiError APIError
		if err := json.Unmarshal(bodyBytes, &apiError); err != nil {
			return localVarReturnValue, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into APIError: %w", originalErr, err)
		}
		return localVarReturnValue, localVarHTTPResponse, apiError
	}

	return localVarReturnValue, localVarHTTPResponse, err
}

type ApiGetWorkloadRoleAuthzDetailsRequest struct {
	ctx              context.Context
	ApiService       *WorkloadRolesAPIService
	teamName         string
	workloadRoleName string
	ifNoneMatch      *string
}

// The ETag value determines if the resource has changed. If the value matches the current ETag on the server, a &#x60;304 Not Modified&#x60; response is returned.
func (r ApiGetWorkloadRoleAuthzDetailsRequest) IfNoneMatch(ifNoneMatch string) ApiGetWorkloadRoleAuthzDetailsRequest {
	r.ifNoneMatch = &ifNoneMatch
	return r
}

func (r ApiGetWorkloadRoleAuthzDetailsRequest) Execute() (*WorkloadRoleAuthzDetails, *http.Response, error) {
	return r.ApiService.GetWorkloadRoleAuthzDetailsExecute(r)
}

/*
GetWorkloadRoleAuthzDetails Retrieve workload role authorization details

	Retrieves workload role authorization details by its name

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().

	@param teamName The name of your team
	@param workloadRoleName The name of the workload role

@return ApiGetWorkloadRoleAuthzDetailsRequest
*/
func (a *WorkloadRolesAPIService) GetWorkloadRoleAuthzDetails(ctx context.Context, teamName string, workloadRoleName string) ApiGetWorkloadRoleAuthzDetailsRequest {
	return ApiGetWorkloadRoleAuthzDetailsRequest{
		ApiService:       a,
		ctx:              ctx,
		teamName:         teamName,
		workloadRoleName: workloadRoleName,
	}
}

// Execute executes the request
//
//	@return WorkloadRoleAuthzDetails
func (a *WorkloadRolesAPIService) GetWorkloadRoleAuthzDetailsExecute(r ApiGetWorkloadRoleAuthzDetailsRequest) (*WorkloadRoleAuthzDetails, *http.Response, error) {
	var (
		traceKey            = "workloadrolesapi.getWorkloadRoleAuthzDetails"
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkloadRoleAuthzDetails
	)

	localVarPath := "/v1/_internal/teams/{team_name}/workload-roles/{workload_role_name}/authz-details"
	localVarPath = strings.Replace(localVarPath, "{"+"team_name"+"}", url.PathEscape(parameterValueToString(r.teamName, "teamName")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"workload_role_name"+"}", url.PathEscape(parameterValueToString(r.workloadRoleName, "workloadRoleName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifNoneMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-None-Match", r.ifNoneMatch, "")
	}
	localVarHTTPResponse, err := a.client.callAPI(r.ctx, traceKey, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles, &localVarReturnValue)

	if err != nil {
		if localVarHTTPResponse == nil {
			return localVarReturnValue, nil, err
		}

		originalErr := err
		// read and unmarshal error response into right struct
		bodyBytes, err := io.ReadAll(localVarHTTPResponse.Body)
		if err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error reading response body: %w", originalErr, err)
		}
		if err := localVarHTTPResponse.Body.Close(); err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error closing response body: %w", originalErr, err)
		}
		// if bodyBytes is empty, we will face unmarshalling error later anyway
		if len(bodyBytes) == 0 {
			return localVarReturnValue, localVarHTTPResponse, originalErr
		}
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewReader(bodyBytes)) //Reset body for the caller
		if localVarHTTPResponse.StatusCode == 401 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v UnauthorizedAccessResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into UnauthorizedAccessResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		if localVarHTTPResponse.StatusCode == 404 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v NotFoundResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into NotFoundResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		var apiError APIError
		if err := json.Unmarshal(bodyBytes, &apiError); err != nil {
			return localVarReturnValue, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into APIError: %w", originalErr, err)
		}
		return localVarReturnValue, localVarHTTPResponse, apiError
	}

	return localVarReturnValue, localVarHTTPResponse, err
}

type ApiListWorkloadRolesRequest struct {
	ctx        context.Context
	ApiService *WorkloadRolesAPIService
	teamName   string
	contains   *string
	count      *int32
	descending *bool
	offset     *string
	prev       *bool
}

// Only returns results that include the specified value
func (r ApiListWorkloadRolesRequest) Contains(contains string) ApiListWorkloadRolesRequest {
	r.contains = &contains
	return r
}

// The number of objects per page
func (r ApiListWorkloadRolesRequest) Count(count int32) ApiListWorkloadRolesRequest {
	r.count = &count
	return r
}

// The object order
func (r ApiListWorkloadRolesRequest) Descending(descending bool) ApiListWorkloadRolesRequest {
	r.descending = &descending
	return r
}

// The offset value for pagination. The **rel&#x3D;\&quot;next\&quot;** and **rel&#x3D;\&quot;prev\&quot;** &#x60;Link&#x60; headers define the offset for subsequent or previous pages.
func (r ApiListWorkloadRolesRequest) Offset(offset string) ApiListWorkloadRolesRequest {
	r.offset = &offset
	return r
}

// The direction of paging
func (r ApiListWorkloadRolesRequest) Prev(prev bool) ApiListWorkloadRolesRequest {
	r.prev = &prev
	return r
}

func (r ApiListWorkloadRolesRequest) Execute() (*ListWorkloadRolesResponse, *http.Response, error) {
	return r.ApiService.ListWorkloadRolesExecute(r)
}

/*
ListWorkloadRoles List all workload roles

	Lists all workload roles. The `contains` URL parameter filters by role name.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().

	@param teamName The name of your team

@return ApiListWorkloadRolesRequest
*/
func (a *WorkloadRolesAPIService) ListWorkloadRoles(ctx context.Context, teamName string) ApiListWorkloadRolesRequest {
	return ApiListWorkloadRolesRequest{
		ApiService: a,
		ctx:        ctx,
		teamName:   teamName,
	}
}

// Execute executes the request
//
//	@return ListWorkloadRolesResponse
func (a *WorkloadRolesAPIService) ListWorkloadRolesExecute(r ApiListWorkloadRolesRequest) (*ListWorkloadRolesResponse, *http.Response, error) {
	var (
		traceKey            = "workloadrolesapi.listWorkloadRoles"
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListWorkloadRolesResponse
	)

	localVarPath := "/v1/teams/{team_name}/workload-roles"
	localVarPath = strings.Replace(localVarPath, "{"+"team_name"+"}", url.PathEscape(parameterValueToString(r.teamName, "teamName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.contains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "contains", r.contains, "")
	}
	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "")
	}
	if r.descending != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "descending", r.descending, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.prev != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prev", r.prev, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarHTTPResponse, err := a.client.callAPI(r.ctx, traceKey, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles, &localVarReturnValue)

	if err != nil {
		if localVarHTTPResponse == nil {
			return localVarReturnValue, nil, err
		}

		originalErr := err
		// read and unmarshal error response into right struct
		bodyBytes, err := io.ReadAll(localVarHTTPResponse.Body)
		if err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error reading response body: %w", originalErr, err)
		}
		if err := localVarHTTPResponse.Body.Close(); err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error closing response body: %w", originalErr, err)
		}
		// if bodyBytes is empty, we will face unmarshalling error later anyway
		if len(bodyBytes) == 0 {
			return localVarReturnValue, localVarHTTPResponse, originalErr
		}
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewReader(bodyBytes)) //Reset body for the caller
		if localVarHTTPResponse.StatusCode == 401 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v UnauthorizedAccessResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into UnauthorizedAccessResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		var apiError APIError
		if err := json.Unmarshal(bodyBytes, &apiError); err != nil {
			return localVarReturnValue, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into APIError: %w", originalErr, err)
		}
		return localVarReturnValue, localVarHTTPResponse, apiError
	}

	return localVarReturnValue, localVarHTTPResponse, err
}

type ApiUpdateWorkloadRoleRequest struct {
	ctx            context.Context
	ApiService     *WorkloadRolesAPIService
	teamName       string
	workloadRoleId string
	workloadRole   *WorkloadRole
}

func (r ApiUpdateWorkloadRoleRequest) WorkloadRole(workloadRole WorkloadRole) ApiUpdateWorkloadRoleRequest {
	r.workloadRole = &workloadRole
	return r
}

func (r ApiUpdateWorkloadRoleRequest) Execute() (*WorkloadRole, *http.Response, error) {
	return r.ApiService.UpdateWorkloadRoleExecute(r)
}

/*
UpdateWorkloadRole Update a workload role

	Updates a workload role by its ID

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().

	@param teamName The name of your team
	@param workloadRoleId The ID of the workload role

@return ApiUpdateWorkloadRoleRequest
*/
func (a *WorkloadRolesAPIService) UpdateWorkloadRole(ctx context.Context, teamName string, workloadRoleId string) ApiUpdateWorkloadRoleRequest {
	return ApiUpdateWorkloadRoleRequest{
		ApiService:     a,
		ctx:            ctx,
		teamName:       teamName,
		workloadRoleId: workloadRoleId,
	}
}

// Execute executes the request
//
//	@return WorkloadRole
func (a *WorkloadRolesAPIService) UpdateWorkloadRoleExecute(r ApiUpdateWorkloadRoleRequest) (*WorkloadRole, *http.Response, error) {
	var (
		traceKey            = "workloadrolesapi.updateWorkloadRole"
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkloadRole
	)

	localVarPath := "/v1/teams/{team_name}/workload-roles/{workload_role_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"team_name"+"}", url.PathEscape(parameterValueToString(r.teamName, "teamName")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"workload_role_id"+"}", url.PathEscape(parameterValueToString(r.workloadRoleId, "workloadRoleId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.workloadRole == nil {
		return localVarReturnValue, nil, reportError("workloadRole is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.workloadRole
	localVarHTTPResponse, err := a.client.callAPI(r.ctx, traceKey, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles, &localVarReturnValue)

	if err != nil {
		if localVarHTTPResponse == nil {
			return localVarReturnValue, nil, err
		}

		originalErr := err
		// read and unmarshal error response into right struct
		bodyBytes, err := io.ReadAll(localVarHTTPResponse.Body)
		if err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error reading response body: %w", originalErr, err)
		}
		if err := localVarHTTPResponse.Body.Close(); err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error closing response body: %w", originalErr, err)
		}
		// if bodyBytes is empty, we will face unmarshalling error later anyway
		if len(bodyBytes) == 0 {
			return localVarReturnValue, localVarHTTPResponse, originalErr
		}
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewReader(bodyBytes)) //Reset body for the caller
		if localVarHTTPResponse.StatusCode == 400 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v BadRequestResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into BadRequestResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		if localVarHTTPResponse.StatusCode == 401 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v UnauthorizedAccessResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into UnauthorizedAccessResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		if localVarHTTPResponse.StatusCode == 404 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v NotFoundResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into NotFoundResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		var apiError APIError
		if err := json.Unmarshal(bodyBytes, &apiError); err != nil {
			return localVarReturnValue, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into APIError: %w", originalErr, err)
		}
		return localVarReturnValue, localVarHTTPResponse, apiError
	}

	return localVarReturnValue, localVarHTTPResponse, err
}
