/*
Okta Privileged Access

The Okta Privileged Access API is a control plane used to request operations in Okta Privileged Access (formerly ScaleFT/Advanced Server Access)

API version: 1.0.0
Contact: support@okta.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package pam

import (
	"bytes"
	"context"
	"encoding/json"
	"fmt"
	"io"
	"net/http"
	"net/url"
)

// InfrastructureOrchestratorsAPIService InfrastructureOrchestratorsAPI service
type InfrastructureOrchestratorsAPIService service

type ApiGetOrchestratorConfigRequest struct {
	ctx                       context.Context
	ApiService                *InfrastructureOrchestratorsAPIService
	orchestratorConfigRequest *OrchestratorConfigRequest
}

func (r ApiGetOrchestratorConfigRequest) OrchestratorConfigRequest(orchestratorConfigRequest OrchestratorConfigRequest) ApiGetOrchestratorConfigRequest {
	r.orchestratorConfigRequest = &orchestratorConfigRequest
	return r
}

func (r ApiGetOrchestratorConfigRequest) Execute() (*OrchestratorConfigResponse, *http.Response, error) {
	return r.ApiService.GetOrchestratorConfigExecute(r)
}

/*
	GetOrchestratorConfig Retrieve orchestrator configuration

	    Retrieves the orchestrator configuration for a gateway.

This is an internal endpoint used by gateways to obtain orchestrator details.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetOrchestratorConfigRequest
*/
func (a *InfrastructureOrchestratorsAPIService) GetOrchestratorConfig(ctx context.Context) ApiGetOrchestratorConfigRequest {
	return ApiGetOrchestratorConfigRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return OrchestratorConfigResponse
func (a *InfrastructureOrchestratorsAPIService) GetOrchestratorConfigExecute(r ApiGetOrchestratorConfigRequest) (*OrchestratorConfigResponse, *http.Response, error) {
	var (
		traceKey            = "infrastructureorchestratorsapi.getOrchestratorConfig"
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *OrchestratorConfigResponse
	)

	localVarPath := "/v1/internal/gateways/orchestrator-config"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.orchestratorConfigRequest == nil {
		return localVarReturnValue, nil, reportError("orchestratorConfigRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.orchestratorConfigRequest
	localVarHTTPResponse, err := a.client.callAPI(r.ctx, traceKey, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles, &localVarReturnValue)

	if err != nil {
		if localVarHTTPResponse == nil {
			return localVarReturnValue, nil, err
		}

		originalErr := err
		// read and unmarshal error response into right struct
		bodyBytes, err := io.ReadAll(localVarHTTPResponse.Body)
		if err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error reading response body: %w", originalErr, err)
		}
		if err := localVarHTTPResponse.Body.Close(); err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error closing response body: %w", originalErr, err)
		}
		// if bodyBytes is empty, we will face unmarshalling error later anyway
		if len(bodyBytes) == 0 {
			return localVarReturnValue, localVarHTTPResponse, originalErr
		}
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewReader(bodyBytes)) //Reset body for the caller
		if localVarHTTPResponse.StatusCode == 401 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v UnauthorizedAccessResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into UnauthorizedAccessResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		var apiError APIError
		if err := json.Unmarshal(bodyBytes, &apiError); err != nil {
			return localVarReturnValue, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into APIError: %w", originalErr, err)
		}
		return localVarReturnValue, localVarHTTPResponse, apiError
	}

	return localVarReturnValue, localVarHTTPResponse, err
}
