/*
Okta Privileged Access

The Okta Privileged Access API is a control plane used to request operations in Okta Privileged Access (formerly ScaleFT/Advanced Server Access)

API version: 1.0.0
Contact: support@okta.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package pam

import (
	"bytes"
	"context"
	"encoding/json"
	"fmt"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// WorkloadsAPIService WorkloadsAPI service
type WorkloadsAPIService service

type ApiIssueOPATokenRequest struct {
	ctx            context.Context
	ApiService     *WorkloadsAPIService
	teamName       string
	connectionName string
	issueRequest   *IssueRequest
}

func (r ApiIssueOPATokenRequest) IssueRequest(issueRequest IssueRequest) ApiIssueOPATokenRequest {
	r.issueRequest = &issueRequest
	return r
}

func (r ApiIssueOPATokenRequest) Execute() (*IssueResponse, *http.Response, error) {
	return r.ApiService.IssueOPATokenExecute(r)
}

/*
IssueOPAToken Issue a normalized OPA Access Token from a workload identity document

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().

	@param teamName Team name
	@param connectionName Workload Connection name (no spaces or unusual punctuation)

@return ApiIssueOPATokenRequest
*/
func (a *WorkloadsAPIService) IssueOPAToken(ctx context.Context, teamName string, connectionName string) ApiIssueOPATokenRequest {
	return ApiIssueOPATokenRequest{
		ApiService:     a,
		ctx:            ctx,
		teamName:       teamName,
		connectionName: connectionName,
	}
}

// Execute executes the request
//
//	@return IssueResponse
func (a *WorkloadsAPIService) IssueOPATokenExecute(r ApiIssueOPATokenRequest) (*IssueResponse, *http.Response, error) {
	var (
		traceKey            = "workloadsapi.issueOPAToken"
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IssueResponse
	)

	localVarPath := "/v1/teams/{team_name}/workloads/{connection_name}/issue_token"
	localVarPath = strings.Replace(localVarPath, "{"+"team_name"+"}", url.PathEscape(parameterValueToString(r.teamName, "teamName")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"connection_name"+"}", url.PathEscape(parameterValueToString(r.connectionName, "connectionName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.teamName) < 1 {
		return localVarReturnValue, nil, reportError("teamName must have at least 1 elements")
	}
	if strlen(r.teamName) > 255 {
		return localVarReturnValue, nil, reportError("teamName must have less than 255 elements")
	}
	if strlen(r.connectionName) < 1 {
		return localVarReturnValue, nil, reportError("connectionName must have at least 1 elements")
	}
	if strlen(r.connectionName) > 255 {
		return localVarReturnValue, nil, reportError("connectionName must have less than 255 elements")
	}
	if r.issueRequest == nil {
		return localVarReturnValue, nil, reportError("issueRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.issueRequest
	localVarHTTPResponse, err := a.client.callAPI(r.ctx, traceKey, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles, &localVarReturnValue)

	if err != nil {
		if localVarHTTPResponse == nil {
			return localVarReturnValue, nil, err
		}

		originalErr := err
		// read and unmarshal error response into right struct
		bodyBytes, err := io.ReadAll(localVarHTTPResponse.Body)
		if err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error reading response body: %w", originalErr, err)
		}
		if err := localVarHTTPResponse.Body.Close(); err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error closing response body: %w", originalErr, err)
		}
		// if bodyBytes is empty, we will face unmarshalling error later anyway
		if len(bodyBytes) == 0 {
			return localVarReturnValue, localVarHTTPResponse, originalErr
		}
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewReader(bodyBytes)) //Reset body for the caller
		if localVarHTTPResponse.StatusCode == 400 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v ErrorResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into ErrorResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		if localVarHTTPResponse.StatusCode == 404 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v ErrorResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into ErrorResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		var apiError APIError
		if err := json.Unmarshal(bodyBytes, &apiError); err != nil {
			return localVarReturnValue, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into APIError: %w", originalErr, err)
		}
		return localVarReturnValue, localVarHTTPResponse, apiError
	}

	return localVarReturnValue, localVarHTTPResponse, err
}
