/*
Okta Privileged Access

The Okta Privileged Access API is a control plane used to request operations in Okta Privileged Access (formerly ScaleFT/Advanced Server Access)

API version: 1.0.0
Contact: support@okta.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package pam

import (
	"bytes"
	"context"
	"encoding/json"
	"fmt"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// ServerAccountsAPIService ServerAccountsAPI service
type ServerAccountsAPIService service

type ApiRevealServerAccountPasswordRequest struct {
	ctx             context.Context
	ApiService      *ServerAccountsAPIService
	teamName        string
	serverAccountId string
	body            *ServerAccountsRevealCredentialsRequest
}

func (r ApiRevealServerAccountPasswordRequest) Body(body ServerAccountsRevealCredentialsRequest) ApiRevealServerAccountPasswordRequest {
	r.body = &body
	return r
}

func (r ApiRevealServerAccountPasswordRequest) Execute() (*ServiceAccountsRevealCredentialsResponse, *http.Response, error) {
	return r.ApiService.RevealServerAccountPasswordExecute(r)
}

/*
RevealServerAccountPassword Reveal the password for a server account

	Reveals the JWE-encrypted password for the specified server account

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().

	@param teamName The name of your team
	@param serverAccountId The UUID of a server account

@return ApiRevealServerAccountPasswordRequest
*/
func (a *ServerAccountsAPIService) RevealServerAccountPassword(ctx context.Context, teamName string, serverAccountId string) ApiRevealServerAccountPasswordRequest {
	return ApiRevealServerAccountPasswordRequest{
		ApiService:      a,
		ctx:             ctx,
		teamName:        teamName,
		serverAccountId: serverAccountId,
	}
}

// Execute executes the request
//
//	@return ServiceAccountsRevealCredentialsResponse
func (a *ServerAccountsAPIService) RevealServerAccountPasswordExecute(r ApiRevealServerAccountPasswordRequest) (*ServiceAccountsRevealCredentialsResponse, *http.Response, error) {
	var (
		traceKey            = "serveraccountsapi.revealServerAccountPassword"
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ServiceAccountsRevealCredentialsResponse
	)

	localVarPath := "/v1/teams/{team_name}/server_accounts/{server_account_id}/reveal_credentials"
	localVarPath = strings.Replace(localVarPath, "{"+"team_name"+"}", url.PathEscape(parameterValueToString(r.teamName, "teamName")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"server_account_id"+"}", url.PathEscape(parameterValueToString(r.serverAccountId, "serverAccountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	localVarHTTPResponse, err := a.client.callAPI(r.ctx, traceKey, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles, &localVarReturnValue)

	if err != nil {
		if localVarHTTPResponse == nil {
			return localVarReturnValue, nil, err
		}

		originalErr := err
		// read and unmarshal error response into right struct
		bodyBytes, err := io.ReadAll(localVarHTTPResponse.Body)
		if err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error reading response body: %w", originalErr, err)
		}
		if err := localVarHTTPResponse.Body.Close(); err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error closing response body: %w", originalErr, err)
		}
		// if bodyBytes is empty, we will face unmarshalling error later anyway
		if len(bodyBytes) == 0 {
			return localVarReturnValue, localVarHTTPResponse, originalErr
		}
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewReader(bodyBytes)) //Reset body for the caller
		if localVarHTTPResponse.StatusCode == 400 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v BadRequestResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into BadRequestResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		if localVarHTTPResponse.StatusCode == 401 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v UnauthorizedAccessResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into UnauthorizedAccessResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		if localVarHTTPResponse.StatusCode == 403 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v ForbiddenUAMResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into ForbiddenUAMResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		if localVarHTTPResponse.StatusCode == 404 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v NotFoundResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into NotFoundResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		if localVarHTTPResponse.StatusCode == 412 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v PreconditionFailedResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into PreconditionFailedResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		var apiError APIError
		if err := json.Unmarshal(bodyBytes, &apiError); err != nil {
			return localVarReturnValue, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into APIError: %w", originalErr, err)
		}
		return localVarReturnValue, localVarHTTPResponse, apiError
	}

	return localVarReturnValue, localVarHTTPResponse, err
}
