/*
Okta Privileged Access

The Okta Privileged Access API is a control plane used to request operations in Okta Privileged Access (formerly ScaleFT/Advanced Server Access)

API version: 1.0.0
Contact: support@okta.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package pam

import (
	"bytes"
	"context"
	"encoding/json"
	"fmt"
	"io"
	"net/http"
	"net/url"
	"reflect"
	"strings"
)

// DatabaseConnectionsAPIService DatabaseConnectionsAPI service
type DatabaseConnectionsAPIService service

type ApiCreateDatabaseConnectionRequest struct {
	ctx                             context.Context
	ApiService                      *DatabaseConnectionsAPIService
	teamName                        string
	createDatabaseConnectionRequest *CreateDatabaseConnectionRequest
}

func (r ApiCreateDatabaseConnectionRequest) CreateDatabaseConnectionRequest(createDatabaseConnectionRequest CreateDatabaseConnectionRequest) ApiCreateDatabaseConnectionRequest {
	r.createDatabaseConnectionRequest = &createDatabaseConnectionRequest
	return r
}

func (r ApiCreateDatabaseConnectionRequest) Execute() (*DatabaseConnectionResponse, *http.Response, error) {
	return r.ApiService.CreateDatabaseConnectionExecute(r)
}

/*
CreateDatabaseConnection Create a database connection

	Creates a new database connection for the specified team.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().

	@param teamName The name of your team

@return ApiCreateDatabaseConnectionRequest
*/
func (a *DatabaseConnectionsAPIService) CreateDatabaseConnection(ctx context.Context, teamName string) ApiCreateDatabaseConnectionRequest {
	return ApiCreateDatabaseConnectionRequest{
		ApiService: a,
		ctx:        ctx,
		teamName:   teamName,
	}
}

// Execute executes the request
//
//	@return DatabaseConnectionResponse
func (a *DatabaseConnectionsAPIService) CreateDatabaseConnectionExecute(r ApiCreateDatabaseConnectionRequest) (*DatabaseConnectionResponse, *http.Response, error) {
	var (
		traceKey            = "databaseconnectionsapi.createDatabaseConnection"
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DatabaseConnectionResponse
	)

	localVarPath := "/v1/teams/{team_name}/connections/databases"
	localVarPath = strings.Replace(localVarPath, "{"+"team_name"+"}", url.PathEscape(parameterValueToString(r.teamName, "teamName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createDatabaseConnectionRequest == nil {
		return localVarReturnValue, nil, reportError("createDatabaseConnectionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createDatabaseConnectionRequest
	localVarHTTPResponse, err := a.client.callAPI(r.ctx, traceKey, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles, &localVarReturnValue)

	if err != nil {
		if localVarHTTPResponse == nil {
			return localVarReturnValue, nil, err
		}

		originalErr := err
		// read and unmarshal error response into right struct
		bodyBytes, err := io.ReadAll(localVarHTTPResponse.Body)
		if err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error reading response body: %w", originalErr, err)
		}
		if err := localVarHTTPResponse.Body.Close(); err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error closing response body: %w", originalErr, err)
		}
		// if bodyBytes is empty, we will face unmarshalling error later anyway
		if len(bodyBytes) == 0 {
			return localVarReturnValue, localVarHTTPResponse, originalErr
		}
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewReader(bodyBytes)) //Reset body for the caller
		if localVarHTTPResponse.StatusCode == 400 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v BadRequestResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into BadRequestResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		if localVarHTTPResponse.StatusCode == 401 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v UnauthorizedAccessResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into UnauthorizedAccessResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		if localVarHTTPResponse.StatusCode == 409 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v ConflictResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into ConflictResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		var apiError APIError
		if err := json.Unmarshal(bodyBytes, &apiError); err != nil {
			return localVarReturnValue, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into APIError: %w", originalErr, err)
		}
		return localVarReturnValue, localVarHTTPResponse, apiError
	}

	return localVarReturnValue, localVarHTTPResponse, err
}

type ApiDeleteDatabaseConnectionRequest struct {
	ctx                  context.Context
	ApiService           *DatabaseConnectionsAPIService
	teamName             string
	databaseConnectionId string
}

func (r ApiDeleteDatabaseConnectionRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteDatabaseConnectionExecute(r)
}

/*
DeleteDatabaseConnection Delete a database connection

	Deletes a database connection.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().

	@param teamName The name of your team
	@param databaseConnectionId The UUID of a database connection

@return ApiDeleteDatabaseConnectionRequest
*/
func (a *DatabaseConnectionsAPIService) DeleteDatabaseConnection(ctx context.Context, teamName string, databaseConnectionId string) ApiDeleteDatabaseConnectionRequest {
	return ApiDeleteDatabaseConnectionRequest{
		ApiService:           a,
		ctx:                  ctx,
		teamName:             teamName,
		databaseConnectionId: databaseConnectionId,
	}
}

// Execute executes the request
func (a *DatabaseConnectionsAPIService) DeleteDatabaseConnectionExecute(r ApiDeleteDatabaseConnectionRequest) (*http.Response, error) {
	var (
		traceKey           = "databaseconnectionsapi.deleteDatabaseConnection"
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localVarPath := "/v1/teams/{team_name}/connections/databases/{database_connection_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"team_name"+"}", url.PathEscape(parameterValueToString(r.teamName, "teamName")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"database_connection_id"+"}", url.PathEscape(parameterValueToString(r.databaseConnectionId, "databaseConnectionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarHTTPResponse, err := a.client.callAPI(r.ctx, traceKey, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles, nil)

	if err != nil {
		if localVarHTTPResponse == nil {
			return nil, err
		}

		originalErr := err
		// read and unmarshal error response into right struct
		bodyBytes, err := io.ReadAll(localVarHTTPResponse.Body)
		if err != nil {
			return nil, fmt.Errorf("%w: error reading response body: %w", originalErr, err)
		}
		if err := localVarHTTPResponse.Body.Close(); err != nil {
			return nil, fmt.Errorf("%w: error closing response body: %w", originalErr, err)
		}
		// if bodyBytes is empty, we will face unmarshalling error later anyway
		if len(bodyBytes) == 0 {
			return localVarHTTPResponse, originalErr
		}
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewReader(bodyBytes)) //Reset body for the caller
		if localVarHTTPResponse.StatusCode == 401 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v UnauthorizedAccessResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into UnauthorizedAccessResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return localVarHTTPResponse, nonDefaultResponse

		}
		if localVarHTTPResponse.StatusCode == 404 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v NotFoundResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into NotFoundResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return localVarHTTPResponse, nonDefaultResponse

		}
		var apiError APIError
		if err := json.Unmarshal(bodyBytes, &apiError); err != nil {
			return localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into APIError: %w", originalErr, err)
		}
		return localVarHTTPResponse, apiError
	}

	return localVarHTTPResponse, err
}

type ApiGetDatabaseAccountSyncStatusRequest struct {
	ctx                  context.Context
	ApiService           *DatabaseConnectionsAPIService
	teamName             string
	databaseConnectionId string
}

func (r ApiGetDatabaseAccountSyncStatusRequest) Execute() (*DatabaseConnectionSyncStatusResponse, *http.Response, error) {
	return r.ApiService.GetDatabaseAccountSyncStatusExecute(r)
}

/*
GetDatabaseAccountSyncStatus Retrieve the database account sync status

	Retrieves the database account sync status for a database connection

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().

	@param teamName The name of your team
	@param databaseConnectionId The UUID of a database connection

@return ApiGetDatabaseAccountSyncStatusRequest
*/
func (a *DatabaseConnectionsAPIService) GetDatabaseAccountSyncStatus(ctx context.Context, teamName string, databaseConnectionId string) ApiGetDatabaseAccountSyncStatusRequest {
	return ApiGetDatabaseAccountSyncStatusRequest{
		ApiService:           a,
		ctx:                  ctx,
		teamName:             teamName,
		databaseConnectionId: databaseConnectionId,
	}
}

// Execute executes the request
//
//	@return DatabaseConnectionSyncStatusResponse
func (a *DatabaseConnectionsAPIService) GetDatabaseAccountSyncStatusExecute(r ApiGetDatabaseAccountSyncStatusRequest) (*DatabaseConnectionSyncStatusResponse, *http.Response, error) {
	var (
		traceKey            = "databaseconnectionsapi.getDatabaseAccountSyncStatus"
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DatabaseConnectionSyncStatusResponse
	)

	localVarPath := "/v1/teams/{team_name}/connections/databases/{database_connection_id}/sync_status"
	localVarPath = strings.Replace(localVarPath, "{"+"team_name"+"}", url.PathEscape(parameterValueToString(r.teamName, "teamName")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"database_connection_id"+"}", url.PathEscape(parameterValueToString(r.databaseConnectionId, "databaseConnectionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarHTTPResponse, err := a.client.callAPI(r.ctx, traceKey, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles, &localVarReturnValue)

	if err != nil {
		if localVarHTTPResponse == nil {
			return localVarReturnValue, nil, err
		}

		originalErr := err
		// read and unmarshal error response into right struct
		bodyBytes, err := io.ReadAll(localVarHTTPResponse.Body)
		if err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error reading response body: %w", originalErr, err)
		}
		if err := localVarHTTPResponse.Body.Close(); err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error closing response body: %w", originalErr, err)
		}
		// if bodyBytes is empty, we will face unmarshalling error later anyway
		if len(bodyBytes) == 0 {
			return localVarReturnValue, localVarHTTPResponse, originalErr
		}
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewReader(bodyBytes)) //Reset body for the caller
		if localVarHTTPResponse.StatusCode == 401 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v UnauthorizedAccessResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into UnauthorizedAccessResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		if localVarHTTPResponse.StatusCode == 404 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v NotFoundResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into NotFoundResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		var apiError APIError
		if err := json.Unmarshal(bodyBytes, &apiError); err != nil {
			return localVarReturnValue, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into APIError: %w", originalErr, err)
		}
		return localVarReturnValue, localVarHTTPResponse, apiError
	}

	return localVarReturnValue, localVarHTTPResponse, err
}

type ApiGetDatabaseConnectionRequest struct {
	ctx                  context.Context
	ApiService           *DatabaseConnectionsAPIService
	teamName             string
	databaseConnectionId string
}

func (r ApiGetDatabaseConnectionRequest) Execute() (*DatabaseConnectionResponse, *http.Response, error) {
	return r.ApiService.GetDatabaseConnectionExecute(r)
}

/*
GetDatabaseConnection Retrieve a database connection

	Retrieves the details of a specific database connection.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().

	@param teamName The name of your team
	@param databaseConnectionId The UUID of a database connection

@return ApiGetDatabaseConnectionRequest
*/
func (a *DatabaseConnectionsAPIService) GetDatabaseConnection(ctx context.Context, teamName string, databaseConnectionId string) ApiGetDatabaseConnectionRequest {
	return ApiGetDatabaseConnectionRequest{
		ApiService:           a,
		ctx:                  ctx,
		teamName:             teamName,
		databaseConnectionId: databaseConnectionId,
	}
}

// Execute executes the request
//
//	@return DatabaseConnectionResponse
func (a *DatabaseConnectionsAPIService) GetDatabaseConnectionExecute(r ApiGetDatabaseConnectionRequest) (*DatabaseConnectionResponse, *http.Response, error) {
	var (
		traceKey            = "databaseconnectionsapi.getDatabaseConnection"
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DatabaseConnectionResponse
	)

	localVarPath := "/v1/teams/{team_name}/connections/databases/{database_connection_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"team_name"+"}", url.PathEscape(parameterValueToString(r.teamName, "teamName")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"database_connection_id"+"}", url.PathEscape(parameterValueToString(r.databaseConnectionId, "databaseConnectionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarHTTPResponse, err := a.client.callAPI(r.ctx, traceKey, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles, &localVarReturnValue)

	if err != nil {
		if localVarHTTPResponse == nil {
			return localVarReturnValue, nil, err
		}

		originalErr := err
		// read and unmarshal error response into right struct
		bodyBytes, err := io.ReadAll(localVarHTTPResponse.Body)
		if err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error reading response body: %w", originalErr, err)
		}
		if err := localVarHTTPResponse.Body.Close(); err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error closing response body: %w", originalErr, err)
		}
		// if bodyBytes is empty, we will face unmarshalling error later anyway
		if len(bodyBytes) == 0 {
			return localVarReturnValue, localVarHTTPResponse, originalErr
		}
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewReader(bodyBytes)) //Reset body for the caller
		if localVarHTTPResponse.StatusCode == 401 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v UnauthorizedAccessResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into UnauthorizedAccessResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		if localVarHTTPResponse.StatusCode == 404 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v NotFoundResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into NotFoundResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		var apiError APIError
		if err := json.Unmarshal(bodyBytes, &apiError); err != nil {
			return localVarReturnValue, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into APIError: %w", originalErr, err)
		}
		return localVarReturnValue, localVarHTTPResponse, apiError
	}

	return localVarReturnValue, localVarHTTPResponse, err
}

type ApiGetInfrastructureOrchestratorRequest struct {
	ctx                          context.Context
	ApiService                   *DatabaseConnectionsAPIService
	teamName                     string
	infrastructureOrchestratorId string
	includeCounts                *bool
}

// When true, includes gateway_count and integration_count in the response.
func (r ApiGetInfrastructureOrchestratorRequest) IncludeCounts(includeCounts bool) ApiGetInfrastructureOrchestratorRequest {
	r.includeCounts = &includeCounts
	return r
}

func (r ApiGetInfrastructureOrchestratorRequest) Execute() (*InfrastructureOrchestratorWithCounts, *http.Response, error) {
	return r.ApiService.GetInfrastructureOrchestratorExecute(r)
}

/*
GetInfrastructureOrchestrator Get an infrastructure orchestrator

	Retrieves a specific infrastructure orchestrator by ID. Optionally includes gateway and integration counts.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().

	@param teamName The name of your team
	@param infrastructureOrchestratorId The UUID of the infrastructure orchestrator.

@return ApiGetInfrastructureOrchestratorRequest
*/
func (a *DatabaseConnectionsAPIService) GetInfrastructureOrchestrator(ctx context.Context, teamName string, infrastructureOrchestratorId string) ApiGetInfrastructureOrchestratorRequest {
	return ApiGetInfrastructureOrchestratorRequest{
		ApiService:                   a,
		ctx:                          ctx,
		teamName:                     teamName,
		infrastructureOrchestratorId: infrastructureOrchestratorId,
	}
}

// Execute executes the request
//
//	@return InfrastructureOrchestratorWithCounts
func (a *DatabaseConnectionsAPIService) GetInfrastructureOrchestratorExecute(r ApiGetInfrastructureOrchestratorRequest) (*InfrastructureOrchestratorWithCounts, *http.Response, error) {
	var (
		traceKey            = "databaseconnectionsapi.getInfrastructureOrchestrator"
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *InfrastructureOrchestratorWithCounts
	)

	localVarPath := "/v1/teams/{team_name}/infrastructure-orchestrators/{infrastructure_orchestrator_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"team_name"+"}", url.PathEscape(parameterValueToString(r.teamName, "teamName")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"infrastructure_orchestrator_id"+"}", url.PathEscape(parameterValueToString(r.infrastructureOrchestratorId, "infrastructureOrchestratorId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.includeCounts != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_counts", r.includeCounts, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarHTTPResponse, err := a.client.callAPI(r.ctx, traceKey, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles, &localVarReturnValue)

	if err != nil {
		if localVarHTTPResponse == nil {
			return localVarReturnValue, nil, err
		}

		originalErr := err
		// read and unmarshal error response into right struct
		bodyBytes, err := io.ReadAll(localVarHTTPResponse.Body)
		if err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error reading response body: %w", originalErr, err)
		}
		if err := localVarHTTPResponse.Body.Close(); err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error closing response body: %w", originalErr, err)
		}
		// if bodyBytes is empty, we will face unmarshalling error later anyway
		if len(bodyBytes) == 0 {
			return localVarReturnValue, localVarHTTPResponse, originalErr
		}
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewReader(bodyBytes)) //Reset body for the caller
		if localVarHTTPResponse.StatusCode == 401 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v UnauthorizedAccessResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into UnauthorizedAccessResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		if localVarHTTPResponse.StatusCode == 404 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v NotFoundResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into NotFoundResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		var apiError APIError
		if err := json.Unmarshal(bodyBytes, &apiError); err != nil {
			return localVarReturnValue, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into APIError: %w", originalErr, err)
		}
		return localVarReturnValue, localVarHTTPResponse, apiError
	}

	return localVarReturnValue, localVarHTTPResponse, err
}

type ApiListDatabaseConnectionsRequest struct {
	ctx        context.Context
	ApiService *DatabaseConnectionsAPIService
	teamName   string
	contains   *string
	authType   *[]DatabaseAuthType
	status     *[]DatabaseConnectionStatus
	count      *int32
	prev       *bool
	offset     *string
	descending *bool
}

// Filter database connections by name containing the specified string.
func (r ApiListDatabaseConnectionsRequest) Contains(contains string) ApiListDatabaseConnectionsRequest {
	r.contains = &contains
	return r
}

// Filter database connections by authentication type.
func (r ApiListDatabaseConnectionsRequest) AuthType(authType []DatabaseAuthType) ApiListDatabaseConnectionsRequest {
	r.authType = &authType
	return r
}

// Filter database connections by status.
func (r ApiListDatabaseConnectionsRequest) Status(status []DatabaseConnectionStatus) ApiListDatabaseConnectionsRequest {
	r.status = &status
	return r
}

// The number of objects per page
func (r ApiListDatabaseConnectionsRequest) Count(count int32) ApiListDatabaseConnectionsRequest {
	r.count = &count
	return r
}

// The direction of paging
func (r ApiListDatabaseConnectionsRequest) Prev(prev bool) ApiListDatabaseConnectionsRequest {
	r.prev = &prev
	return r
}

// The offset value for pagination. The **rel&#x3D;\&quot;next\&quot;** and **rel&#x3D;\&quot;prev\&quot;** &#x60;Link&#x60; headers define the offset for subsequent or previous pages.
func (r ApiListDatabaseConnectionsRequest) Offset(offset string) ApiListDatabaseConnectionsRequest {
	r.offset = &offset
	return r
}

// The object order
func (r ApiListDatabaseConnectionsRequest) Descending(descending bool) ApiListDatabaseConnectionsRequest {
	r.descending = &descending
	return r
}

func (r ApiListDatabaseConnectionsRequest) Execute() (*ListDatabaseConnectionsResponse, *http.Response, error) {
	return r.ApiService.ListDatabaseConnectionsExecute(r)
}

/*
ListDatabaseConnections List all database connections

	Lists all database connections for the specified team.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().

	@param teamName The name of your team

@return ApiListDatabaseConnectionsRequest
*/
func (a *DatabaseConnectionsAPIService) ListDatabaseConnections(ctx context.Context, teamName string) ApiListDatabaseConnectionsRequest {
	return ApiListDatabaseConnectionsRequest{
		ApiService: a,
		ctx:        ctx,
		teamName:   teamName,
	}
}

// Execute executes the request
//
//	@return ListDatabaseConnectionsResponse
func (a *DatabaseConnectionsAPIService) ListDatabaseConnectionsExecute(r ApiListDatabaseConnectionsRequest) (*ListDatabaseConnectionsResponse, *http.Response, error) {
	var (
		traceKey            = "databaseconnectionsapi.listDatabaseConnections"
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListDatabaseConnectionsResponse
	)

	localVarPath := "/v1/teams/{team_name}/connections/databases"
	localVarPath = strings.Replace(localVarPath, "{"+"team_name"+"}", url.PathEscape(parameterValueToString(r.teamName, "teamName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.contains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "contains", r.contains, "")
	}
	if r.authType != nil {
		t := *r.authType
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "auth_type", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "auth_type", t, "multi")
		}
	}
	if r.status != nil {
		t := *r.status
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "status", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "status", t, "multi")
		}
	}
	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "")
	}
	if r.prev != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prev", r.prev, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.descending != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "descending", r.descending, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarHTTPResponse, err := a.client.callAPI(r.ctx, traceKey, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles, &localVarReturnValue)

	if err != nil {
		if localVarHTTPResponse == nil {
			return localVarReturnValue, nil, err
		}

		originalErr := err
		// read and unmarshal error response into right struct
		bodyBytes, err := io.ReadAll(localVarHTTPResponse.Body)
		if err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error reading response body: %w", originalErr, err)
		}
		if err := localVarHTTPResponse.Body.Close(); err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error closing response body: %w", originalErr, err)
		}
		// if bodyBytes is empty, we will face unmarshalling error later anyway
		if len(bodyBytes) == 0 {
			return localVarReturnValue, localVarHTTPResponse, originalErr
		}
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewReader(bodyBytes)) //Reset body for the caller
		if localVarHTTPResponse.StatusCode == 401 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v UnauthorizedAccessResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into UnauthorizedAccessResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		var apiError APIError
		if err := json.Unmarshal(bodyBytes, &apiError); err != nil {
			return localVarReturnValue, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into APIError: %w", originalErr, err)
		}
		return localVarReturnValue, localVarHTTPResponse, apiError
	}

	return localVarReturnValue, localVarHTTPResponse, err
}

type ApiListInfrastructureOrchestratorGatewaysRequest struct {
	ctx                          context.Context
	ApiService                   *DatabaseConnectionsAPIService
	teamName                     string
	infrastructureOrchestratorId string
	count                        *int32
	prev                         *bool
	offset                       *string
	descending                   *bool
}

// The number of objects per page
func (r ApiListInfrastructureOrchestratorGatewaysRequest) Count(count int32) ApiListInfrastructureOrchestratorGatewaysRequest {
	r.count = &count
	return r
}

// The direction of paging
func (r ApiListInfrastructureOrchestratorGatewaysRequest) Prev(prev bool) ApiListInfrastructureOrchestratorGatewaysRequest {
	r.prev = &prev
	return r
}

// The offset value for pagination. The **rel&#x3D;\&quot;next\&quot;** and **rel&#x3D;\&quot;prev\&quot;** &#x60;Link&#x60; headers define the offset for subsequent or previous pages.
func (r ApiListInfrastructureOrchestratorGatewaysRequest) Offset(offset string) ApiListInfrastructureOrchestratorGatewaysRequest {
	r.offset = &offset
	return r
}

// The object order
func (r ApiListInfrastructureOrchestratorGatewaysRequest) Descending(descending bool) ApiListInfrastructureOrchestratorGatewaysRequest {
	r.descending = &descending
	return r
}

func (r ApiListInfrastructureOrchestratorGatewaysRequest) Execute() (*ListInfrastructureOrchestratorReferencesResponse, *http.Response, error) {
	return r.ApiService.ListInfrastructureOrchestratorGatewaysExecute(r)
}

/*
ListInfrastructureOrchestratorGateways List gateways for an infrastructure orchestrator

	Lists all gateways associated with the specified infrastructure orchestrator.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().

	@param teamName The name of your team
	@param infrastructureOrchestratorId The UUID of the infrastructure orchestrator.

@return ApiListInfrastructureOrchestratorGatewaysRequest
*/
func (a *DatabaseConnectionsAPIService) ListInfrastructureOrchestratorGateways(ctx context.Context, teamName string, infrastructureOrchestratorId string) ApiListInfrastructureOrchestratorGatewaysRequest {
	return ApiListInfrastructureOrchestratorGatewaysRequest{
		ApiService:                   a,
		ctx:                          ctx,
		teamName:                     teamName,
		infrastructureOrchestratorId: infrastructureOrchestratorId,
	}
}

// Execute executes the request
//
//	@return ListInfrastructureOrchestratorReferencesResponse
func (a *DatabaseConnectionsAPIService) ListInfrastructureOrchestratorGatewaysExecute(r ApiListInfrastructureOrchestratorGatewaysRequest) (*ListInfrastructureOrchestratorReferencesResponse, *http.Response, error) {
	var (
		traceKey            = "databaseconnectionsapi.listInfrastructureOrchestratorGateways"
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListInfrastructureOrchestratorReferencesResponse
	)

	localVarPath := "/v1/teams/{team_name}/infrastructure-orchestrators/{infrastructure_orchestrator_id}/references/gateways"
	localVarPath = strings.Replace(localVarPath, "{"+"team_name"+"}", url.PathEscape(parameterValueToString(r.teamName, "teamName")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"infrastructure_orchestrator_id"+"}", url.PathEscape(parameterValueToString(r.infrastructureOrchestratorId, "infrastructureOrchestratorId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "")
	}
	if r.prev != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prev", r.prev, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.descending != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "descending", r.descending, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarHTTPResponse, err := a.client.callAPI(r.ctx, traceKey, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles, &localVarReturnValue)

	if err != nil {
		if localVarHTTPResponse == nil {
			return localVarReturnValue, nil, err
		}

		originalErr := err
		// read and unmarshal error response into right struct
		bodyBytes, err := io.ReadAll(localVarHTTPResponse.Body)
		if err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error reading response body: %w", originalErr, err)
		}
		if err := localVarHTTPResponse.Body.Close(); err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error closing response body: %w", originalErr, err)
		}
		// if bodyBytes is empty, we will face unmarshalling error later anyway
		if len(bodyBytes) == 0 {
			return localVarReturnValue, localVarHTTPResponse, originalErr
		}
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewReader(bodyBytes)) //Reset body for the caller
		if localVarHTTPResponse.StatusCode == 401 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v UnauthorizedAccessResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into UnauthorizedAccessResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		if localVarHTTPResponse.StatusCode == 404 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v NotFoundResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into NotFoundResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		var apiError APIError
		if err := json.Unmarshal(bodyBytes, &apiError); err != nil {
			return localVarReturnValue, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into APIError: %w", originalErr, err)
		}
		return localVarReturnValue, localVarHTTPResponse, apiError
	}

	return localVarReturnValue, localVarHTTPResponse, err
}

type ApiListInfrastructureOrchestratorIntegrationsRequest struct {
	ctx                          context.Context
	ApiService                   *DatabaseConnectionsAPIService
	teamName                     string
	infrastructureOrchestratorId string
	count                        *int32
	prev                         *bool
	offset                       *string
	descending                   *bool
}

// The number of objects per page
func (r ApiListInfrastructureOrchestratorIntegrationsRequest) Count(count int32) ApiListInfrastructureOrchestratorIntegrationsRequest {
	r.count = &count
	return r
}

// The direction of paging
func (r ApiListInfrastructureOrchestratorIntegrationsRequest) Prev(prev bool) ApiListInfrastructureOrchestratorIntegrationsRequest {
	r.prev = &prev
	return r
}

// The offset value for pagination. The **rel&#x3D;\&quot;next\&quot;** and **rel&#x3D;\&quot;prev\&quot;** &#x60;Link&#x60; headers define the offset for subsequent or previous pages.
func (r ApiListInfrastructureOrchestratorIntegrationsRequest) Offset(offset string) ApiListInfrastructureOrchestratorIntegrationsRequest {
	r.offset = &offset
	return r
}

// The object order
func (r ApiListInfrastructureOrchestratorIntegrationsRequest) Descending(descending bool) ApiListInfrastructureOrchestratorIntegrationsRequest {
	r.descending = &descending
	return r
}

func (r ApiListInfrastructureOrchestratorIntegrationsRequest) Execute() (*ListInfrastructureOrchestratorReferencesResponse, *http.Response, error) {
	return r.ApiService.ListInfrastructureOrchestratorIntegrationsExecute(r)
}

/*
ListInfrastructureOrchestratorIntegrations List integrations for an infrastructure orchestrator

	Lists all database connections (integrations) associated with the specified infrastructure orchestrator.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().

	@param teamName The name of your team
	@param infrastructureOrchestratorId The UUID of the infrastructure orchestrator.

@return ApiListInfrastructureOrchestratorIntegrationsRequest
*/
func (a *DatabaseConnectionsAPIService) ListInfrastructureOrchestratorIntegrations(ctx context.Context, teamName string, infrastructureOrchestratorId string) ApiListInfrastructureOrchestratorIntegrationsRequest {
	return ApiListInfrastructureOrchestratorIntegrationsRequest{
		ApiService:                   a,
		ctx:                          ctx,
		teamName:                     teamName,
		infrastructureOrchestratorId: infrastructureOrchestratorId,
	}
}

// Execute executes the request
//
//	@return ListInfrastructureOrchestratorReferencesResponse
func (a *DatabaseConnectionsAPIService) ListInfrastructureOrchestratorIntegrationsExecute(r ApiListInfrastructureOrchestratorIntegrationsRequest) (*ListInfrastructureOrchestratorReferencesResponse, *http.Response, error) {
	var (
		traceKey            = "databaseconnectionsapi.listInfrastructureOrchestratorIntegrations"
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListInfrastructureOrchestratorReferencesResponse
	)

	localVarPath := "/v1/teams/{team_name}/infrastructure-orchestrators/{infrastructure_orchestrator_id}/references/integrations"
	localVarPath = strings.Replace(localVarPath, "{"+"team_name"+"}", url.PathEscape(parameterValueToString(r.teamName, "teamName")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"infrastructure_orchestrator_id"+"}", url.PathEscape(parameterValueToString(r.infrastructureOrchestratorId, "infrastructureOrchestratorId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "")
	}
	if r.prev != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prev", r.prev, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.descending != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "descending", r.descending, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarHTTPResponse, err := a.client.callAPI(r.ctx, traceKey, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles, &localVarReturnValue)

	if err != nil {
		if localVarHTTPResponse == nil {
			return localVarReturnValue, nil, err
		}

		originalErr := err
		// read and unmarshal error response into right struct
		bodyBytes, err := io.ReadAll(localVarHTTPResponse.Body)
		if err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error reading response body: %w", originalErr, err)
		}
		if err := localVarHTTPResponse.Body.Close(); err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error closing response body: %w", originalErr, err)
		}
		// if bodyBytes is empty, we will face unmarshalling error later anyway
		if len(bodyBytes) == 0 {
			return localVarReturnValue, localVarHTTPResponse, originalErr
		}
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewReader(bodyBytes)) //Reset body for the caller
		if localVarHTTPResponse.StatusCode == 401 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v UnauthorizedAccessResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into UnauthorizedAccessResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		if localVarHTTPResponse.StatusCode == 404 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v NotFoundResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into NotFoundResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		var apiError APIError
		if err := json.Unmarshal(bodyBytes, &apiError); err != nil {
			return localVarReturnValue, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into APIError: %w", originalErr, err)
		}
		return localVarReturnValue, localVarHTTPResponse, apiError
	}

	return localVarReturnValue, localVarHTTPResponse, err
}

type ApiListInfrastructureOrchestratorsRequest struct {
	ctx        context.Context
	ApiService *DatabaseConnectionsAPIService
	teamName   string
	contains   *string
	hasGateway *bool
	count      *int32
	prev       *bool
	offset     *string
	descending *bool
}

// Only returns results that include the specified value
func (r ApiListInfrastructureOrchestratorsRequest) Contains(contains string) ApiListInfrastructureOrchestratorsRequest {
	r.contains = &contains
	return r
}

// Filter infrastructure orchestrators by gateway association. When true, returns only infrastructure orchestrators with at least one associated gateway. When false, returns only infrastructure orchestrators without any associated gateways.
func (r ApiListInfrastructureOrchestratorsRequest) HasGateway(hasGateway bool) ApiListInfrastructureOrchestratorsRequest {
	r.hasGateway = &hasGateway
	return r
}

// The number of objects per page
func (r ApiListInfrastructureOrchestratorsRequest) Count(count int32) ApiListInfrastructureOrchestratorsRequest {
	r.count = &count
	return r
}

// The direction of paging
func (r ApiListInfrastructureOrchestratorsRequest) Prev(prev bool) ApiListInfrastructureOrchestratorsRequest {
	r.prev = &prev
	return r
}

// The offset value for pagination. The **rel&#x3D;\&quot;next\&quot;** and **rel&#x3D;\&quot;prev\&quot;** &#x60;Link&#x60; headers define the offset for subsequent or previous pages.
func (r ApiListInfrastructureOrchestratorsRequest) Offset(offset string) ApiListInfrastructureOrchestratorsRequest {
	r.offset = &offset
	return r
}

// The object order
func (r ApiListInfrastructureOrchestratorsRequest) Descending(descending bool) ApiListInfrastructureOrchestratorsRequest {
	r.descending = &descending
	return r
}

func (r ApiListInfrastructureOrchestratorsRequest) Execute() (*ListInfrastructureOrchestratorsResponse, *http.Response, error) {
	return r.ApiService.ListInfrastructureOrchestratorsExecute(r)
}

/*
ListInfrastructureOrchestrators List all infrastructure orchestrators

	Lists all infrastructure orchestrators for the specified team.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().

	@param teamName The name of your team

@return ApiListInfrastructureOrchestratorsRequest
*/
func (a *DatabaseConnectionsAPIService) ListInfrastructureOrchestrators(ctx context.Context, teamName string) ApiListInfrastructureOrchestratorsRequest {
	return ApiListInfrastructureOrchestratorsRequest{
		ApiService: a,
		ctx:        ctx,
		teamName:   teamName,
	}
}

// Execute executes the request
//
//	@return ListInfrastructureOrchestratorsResponse
func (a *DatabaseConnectionsAPIService) ListInfrastructureOrchestratorsExecute(r ApiListInfrastructureOrchestratorsRequest) (*ListInfrastructureOrchestratorsResponse, *http.Response, error) {
	var (
		traceKey            = "databaseconnectionsapi.listInfrastructureOrchestrators"
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListInfrastructureOrchestratorsResponse
	)

	localVarPath := "/v1/teams/{team_name}/infrastructure-orchestrators"
	localVarPath = strings.Replace(localVarPath, "{"+"team_name"+"}", url.PathEscape(parameterValueToString(r.teamName, "teamName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.contains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "contains", r.contains, "")
	}
	if r.hasGateway != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "has_gateway", r.hasGateway, "")
	}
	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "")
	}
	if r.prev != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "prev", r.prev, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.descending != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "descending", r.descending, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarHTTPResponse, err := a.client.callAPI(r.ctx, traceKey, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles, &localVarReturnValue)

	if err != nil {
		if localVarHTTPResponse == nil {
			return localVarReturnValue, nil, err
		}

		originalErr := err
		// read and unmarshal error response into right struct
		bodyBytes, err := io.ReadAll(localVarHTTPResponse.Body)
		if err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error reading response body: %w", originalErr, err)
		}
		if err := localVarHTTPResponse.Body.Close(); err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error closing response body: %w", originalErr, err)
		}
		// if bodyBytes is empty, we will face unmarshalling error later anyway
		if len(bodyBytes) == 0 {
			return localVarReturnValue, localVarHTTPResponse, originalErr
		}
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewReader(bodyBytes)) //Reset body for the caller
		if localVarHTTPResponse.StatusCode == 401 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v UnauthorizedAccessResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into UnauthorizedAccessResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		var apiError APIError
		if err := json.Unmarshal(bodyBytes, &apiError); err != nil {
			return localVarReturnValue, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into APIError: %w", originalErr, err)
		}
		return localVarReturnValue, localVarHTTPResponse, apiError
	}

	return localVarReturnValue, localVarHTTPResponse, err
}

type ApiStartDatabaseAccountForceSyncRequest struct {
	ctx                  context.Context
	ApiService           *DatabaseConnectionsAPIService
	teamName             string
	databaseConnectionId string
}

func (r ApiStartDatabaseAccountForceSyncRequest) Execute() (*http.Response, error) {
	return r.ApiService.StartDatabaseAccountForceSyncExecute(r)
}

/*
	StartDatabaseAccountForceSync Start database account force sync

	    Starts database account force sync:

* Discovers database accounts from the connected database server
* Performs account matching through configured account rules
* Returns a conflict error if a sync is already running

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	    @param teamName The name of your team
	    @param databaseConnectionId The UUID of a database connection
	@return ApiStartDatabaseAccountForceSyncRequest
*/
func (a *DatabaseConnectionsAPIService) StartDatabaseAccountForceSync(ctx context.Context, teamName string, databaseConnectionId string) ApiStartDatabaseAccountForceSyncRequest {
	return ApiStartDatabaseAccountForceSyncRequest{
		ApiService:           a,
		ctx:                  ctx,
		teamName:             teamName,
		databaseConnectionId: databaseConnectionId,
	}
}

// Execute executes the request
func (a *DatabaseConnectionsAPIService) StartDatabaseAccountForceSyncExecute(r ApiStartDatabaseAccountForceSyncRequest) (*http.Response, error) {
	var (
		traceKey           = "databaseconnectionsapi.startDatabaseAccountForceSync"
		localVarHTTPMethod = http.MethodPut
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localVarPath := "/v1/teams/{team_name}/connections/databases/{database_connection_id}/force_sync"
	localVarPath = strings.Replace(localVarPath, "{"+"team_name"+"}", url.PathEscape(parameterValueToString(r.teamName, "teamName")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"database_connection_id"+"}", url.PathEscape(parameterValueToString(r.databaseConnectionId, "databaseConnectionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarHTTPResponse, err := a.client.callAPI(r.ctx, traceKey, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles, nil)

	if err != nil {
		if localVarHTTPResponse == nil {
			return nil, err
		}

		originalErr := err
		// read and unmarshal error response into right struct
		bodyBytes, err := io.ReadAll(localVarHTTPResponse.Body)
		if err != nil {
			return nil, fmt.Errorf("%w: error reading response body: %w", originalErr, err)
		}
		if err := localVarHTTPResponse.Body.Close(); err != nil {
			return nil, fmt.Errorf("%w: error closing response body: %w", originalErr, err)
		}
		// if bodyBytes is empty, we will face unmarshalling error later anyway
		if len(bodyBytes) == 0 {
			return localVarHTTPResponse, originalErr
		}
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewReader(bodyBytes)) //Reset body for the caller
		if localVarHTTPResponse.StatusCode == 401 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v UnauthorizedAccessResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into UnauthorizedAccessResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return localVarHTTPResponse, nonDefaultResponse

		}
		if localVarHTTPResponse.StatusCode == 404 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v NotFoundResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into NotFoundResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return localVarHTTPResponse, nonDefaultResponse

		}
		if localVarHTTPResponse.StatusCode == 409 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v ConflictResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into ConflictResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return localVarHTTPResponse, nonDefaultResponse

		}
		var apiError APIError
		if err := json.Unmarshal(bodyBytes, &apiError); err != nil {
			return localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into APIError: %w", originalErr, err)
		}
		return localVarHTTPResponse, apiError
	}

	return localVarHTTPResponse, err
}

type ApiUpdateDatabaseConnectionRequest struct {
	ctx                             context.Context
	ApiService                      *DatabaseConnectionsAPIService
	teamName                        string
	databaseConnectionId            string
	updateDatabaseConnectionRequest *UpdateDatabaseConnectionRequest
}

func (r ApiUpdateDatabaseConnectionRequest) UpdateDatabaseConnectionRequest(updateDatabaseConnectionRequest UpdateDatabaseConnectionRequest) ApiUpdateDatabaseConnectionRequest {
	r.updateDatabaseConnectionRequest = &updateDatabaseConnectionRequest
	return r
}

func (r ApiUpdateDatabaseConnectionRequest) Execute() (*DatabaseConnectionResponse, *http.Response, error) {
	return r.ApiService.UpdateDatabaseConnectionExecute(r)
}

/*
UpdateDatabaseConnection Update a database connection

	Updates an existing database connection.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().

	@param teamName The name of your team
	@param databaseConnectionId The UUID of a database connection

@return ApiUpdateDatabaseConnectionRequest
*/
func (a *DatabaseConnectionsAPIService) UpdateDatabaseConnection(ctx context.Context, teamName string, databaseConnectionId string) ApiUpdateDatabaseConnectionRequest {
	return ApiUpdateDatabaseConnectionRequest{
		ApiService:           a,
		ctx:                  ctx,
		teamName:             teamName,
		databaseConnectionId: databaseConnectionId,
	}
}

// Execute executes the request
//
//	@return DatabaseConnectionResponse
func (a *DatabaseConnectionsAPIService) UpdateDatabaseConnectionExecute(r ApiUpdateDatabaseConnectionRequest) (*DatabaseConnectionResponse, *http.Response, error) {
	var (
		traceKey            = "databaseconnectionsapi.updateDatabaseConnection"
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DatabaseConnectionResponse
	)

	localVarPath := "/v1/teams/{team_name}/connections/databases/{database_connection_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"team_name"+"}", url.PathEscape(parameterValueToString(r.teamName, "teamName")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"database_connection_id"+"}", url.PathEscape(parameterValueToString(r.databaseConnectionId, "databaseConnectionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updateDatabaseConnectionRequest == nil {
		return localVarReturnValue, nil, reportError("updateDatabaseConnectionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateDatabaseConnectionRequest
	localVarHTTPResponse, err := a.client.callAPI(r.ctx, traceKey, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles, &localVarReturnValue)

	if err != nil {
		if localVarHTTPResponse == nil {
			return localVarReturnValue, nil, err
		}

		originalErr := err
		// read and unmarshal error response into right struct
		bodyBytes, err := io.ReadAll(localVarHTTPResponse.Body)
		if err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error reading response body: %w", originalErr, err)
		}
		if err := localVarHTTPResponse.Body.Close(); err != nil {
			return localVarReturnValue, nil, fmt.Errorf("%w: error closing response body: %w", originalErr, err)
		}
		// if bodyBytes is empty, we will face unmarshalling error later anyway
		if len(bodyBytes) == 0 {
			return localVarReturnValue, localVarHTTPResponse, originalErr
		}
		localVarHTTPResponse.Body = io.NopCloser(bytes.NewReader(bodyBytes)) //Reset body for the caller
		if localVarHTTPResponse.StatusCode == 400 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v BadRequestResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into BadRequestResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		if localVarHTTPResponse.StatusCode == 401 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v UnauthorizedAccessResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into UnauthorizedAccessResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		if localVarHTTPResponse.StatusCode == 404 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v NotFoundResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into NotFoundResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		if localVarHTTPResponse.StatusCode == 409 {

			var nonDefaultResponse ErrNonDefaultResponse
			var v ConflictResponse
			if err := json.Unmarshal(bodyBytes, &v); err != nil {
				return nil, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into ConflictResponse: %w", originalErr, err)
			}
			nonDefaultResponse.Result = v
			nonDefaultResponse.StatusCode = localVarHTTPResponse.StatusCode
			return nil, localVarHTTPResponse, nonDefaultResponse

		}
		var apiError APIError
		if err := json.Unmarshal(bodyBytes, &apiError); err != nil {
			return localVarReturnValue, localVarHTTPResponse, fmt.Errorf("%w: error unmarshalling response body into APIError: %w", originalErr, err)
		}
		return localVarReturnValue, localVarHTTPResponse, apiError
	}

	return localVarReturnValue, localVarHTTPResponse, err
}
